<div class="{{ modifier }}">
	<table class="tablefield">
		<caption>Table caption should align left with the table</caption>
		<thead>
			<tr>
				<th class="row_0 col_0">Header item</th>
				<th class="row_0 col_1">Header item</th>
				<th class="row_0 col_2">Header item</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="row_1 col_0">
					<strong class="tablesaw-cell-label" aria-hidden="true">Header item</strong>
					<span class="tablesaw-cell-content">Table item</span>
				</td>
				<td class="row_1 col_1">
					<strong class="tablesaw-cell-label" aria-hidden="true">Header item</strong>
					<span class="tablesaw-cell-content">Table item</span>
				</td>
				<td class="row_1 col_2">
					<strong class="tablesaw-cell-label" aria-hidden="true">Header item</strong>
					<span class="tablesaw-cell-content">Table item</span>
				</td>
			</tr>
			<tr>
				<td class="row_2 col_0">
					<strong class="tablesaw-cell-label" aria-hidden="true">Header item</strong>
					<span class="tablesaw-cell-content">Table item</span>
				</td>
				<td class="row_2 col_1">
					<strong class="tablesaw-cell-label" aria-hidden="true">Header item</strong>
					<span class="tablesaw-cell-content">Table item</span>
				</td>
				<td class="row_2 col_2">
					<strong class="tablesaw-cell-label" aria-hidden="true">Header item</strong>
					<span class="tablesaw-cell-content">Table item</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
