:where(html) {
  --white: hsl(0 0% 100%);
  --gray-50: hsl(210, 20%, 98%);
  --gray-100: hsl(220, 14%, 96%);
  --gray-200: hsl(220, 13%, 91%);
  --gray-300: hsl(216, 12%, 84%);
  --gray-400: hsl(218, 11%, 65%);
  --gray-500: hsl(220, 9%, 46%);
  --gray-600: hsl(215, 14%, 34%);
  --gray-700: hsl(217, 19%, 27%);
  --gray-800: hsl(215, 28%, 17%);
  --gray-900: hsl(221, 39%, 11%);
  --black: hsl(0 0% 0%);
  --red-50: hsl(0, 73%, 97%);
  --red-100: hsl(0, 84%, 95%);
  --red-200: hsl(0, 83%, 91%);
  --red-300: hsl(0, 83%, 84%);
  --red-400: hsl(0, 91%, 74%);
  --red-500: hsl(0, 84%, 63%);
  --red-600: hsl(0, 75%, 51%);
  --red-700: hsl(0, 74%, 45%);
  --red-800: hsl(0, 69%, 36%);
  --red-900: hsl(0, 61%, 29%);
  --yellow-50: hsl(60, 83%, 95%);
  --yellow-100: hsl(54, 95%, 85%);
  --yellow-200: hsl(52, 96%, 70%);
  --yellow-300: hsl(47, 96%, 53%);
  --yellow-400: hsl(42, 93%, 46%);
  --yellow-500: hsl(37, 97%, 39%);
  --yellow-600: hsl(31, 88%, 33%);
  --yellow-700: hsl(28, 80%, 31%);
  --yellow-800: hsl(25, 71%, 26%);
  --yellow-900: hsl(23, 69%, 23%);
  --green-50: hsl(154, 41%, 97%);
  --green-100: hsl(154, 61%, 92%);
  --green-200: hsl(155, 63%, 84%);
  --green-300: hsl(156, 61%, 70%);
  --green-400: hsl(158, 60%, 48%);
  --green-500: hsl(160, 84%, 34%);
  --green-600: hsl(161, 92%, 25%);
  --green-700: hsl(163, 93%, 22%);
  --green-800: hsl(164, 93%, 17%);
  --green-900: hsl(166, 97%, 14%);
  --blue-50: hsl(210, 100%, 96%);
  --blue-100: hsl(211, 94%, 94%);
  --blue-200: hsl(213, 94%, 88%);
  --blue-300: hsl(215, 98%, 82%);
  --blue-400: hsl(217, 93%, 72%);
  --blue-500: hsl(218, 93%, 61%);
  --blue-600: hsl(220, 89%, 53%);
  --blue-700: hsl(221, 79%, 48%);
  --blue-800: hsl(223, 68%, 37%);
  --blue-900: hsl(225, 54%, 30%);
  --sky-50: hsl(204, 100%, 97%);
  --sky-100: hsl(204, 94%, 94%);
  --sky-200: hsl(201, 94%, 86%);
  --sky-300: hsl(199, 95%, 74%);
  --sky-400: hsl(198, 93%, 60%);
  --sky-500: hsl(199, 89%, 48%);
  --sky-600: hsl(200, 98%, 39%);
  --sky-700: hsl(201, 96%, 32%);
  --sky-800: hsl(201, 90%, 27%);
  --sky-900: hsl(202, 80%, 24%);
}
