/**
 * @file
 * Typewriter styles.
 */

.typewriter-cta {
  align-items: center;
  background-color: var(--santa-barbara-sand);
  display: flex;
  min-height: 220px;
  padding-block: var(--size-8);
}

.Typewriter__wrapper {
  color: var(--midnight-joshua-tree);
  margin-block: 0;
}

.Typewriter__cursor {
  color: var(--southbay-waves);
}
