:where(html) {
  --font-sans: Helvetica, sans-serif;
  --font-serif: Georgia, "Times New Roman", Times, serif;
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen-Sans", Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
  --font-mono: Menlo, Consolas, "Lucida Console", "Liberation Mono", "Courier New", monospace, sans-serif;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --font-size-xs: 0.625rem; /* 10px */
  --font-size-sm: 0.75rem;   /* 12px */
  --font-size-0: 0.875rem;   /* 14px */
  --font-size-1: 1rem;       /* 16px */
  --font-size-2: 1.125rem;   /* 18px */
  --font-size-3: 1.25rem;    /* 20px */
  --font-size-4: 1.375rem;   /* 22px */
  --font-size-5: 1.5rem;     /* 24px */
  --font-size-6: 1.75rem;    /* 28px */
  --font-size-7: 2rem;       /* 32px */
  --font-size-8: 2.25rem;    /* 36px */
  --font-size-9: 2.5rem;     /* 40px */
  --font-size-10: 3rem;      /* 48px */
  --font-size-11: 3.5rem;    /* 56px */
  --font-size-12: 4rem;      /* 64px */
  --font-size-13: 5rem;      /* 80px */
  --font-size-14: 7.5rem;    /* 120px */
  --leading-3: 0.75rem;      /* 12px */
  --leading-4: 1rem;         /* 16px */
  --leading-5: 1.25rem;      /* 20px */
  --leading-6: 1.5rem;       /* 24px */
  --leading-7: 1.75rem;      /* 28px */
  --leading-8: 2rem;         /* 32px */
  --leading-9: 2.25rem;      /* 36px */
  --leading-10: 2.5rem;      /* 40px */
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;
}
