/**
 * @file
 * Person listing styles.
 */

.person-listing {
  .person-listing__type {
    font-size: var(--font-size-0);
    margin-block-end: var(--size-3);
  }
}

.person-listing__wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--size-5);

  @media (--tablet) {
    flex-direction: row;
  }
}

.person-listing__image {
  flex: 0 0 var(--size-50); /* ~ 200px */
}

/* Adds equal margin to all children in content container. */
.person-listing__content {
  > * {
    margin-block-end: var(--size-3);
  }
}

.person-listing__name {
  font-family: var(--font-heading);
  font-size: var(--font-size-5);
  line-height: var(--leading-tight);

  a {
    color: var(--surface-blue);
    transition-duration: 0.2s;
    transition-property: color;

    &:hover {
      color: var(--silver-lake-reservoir);
    }
  }
}
