/**
 * @file
 * View listing styles.
 */

:where([data-theme="dgsom"]) {
  --view-listing-exposed-bg: var(--midnight-joshua-tree);
}

:where([data-theme="labs-dynamic"]) {
  --view-listing-exposed-bg: var(--midnight-joshua-tree);
}

.view-listing__exposed {
  background-image: linear-gradient(0deg, var(--white) 4rem, var(--view-listing-exposed-bg, var(--surface-blue)) 4rem);
  padding-block: var(--size-8);

  .view-listing-form {
    margin-inline: auto;
    max-inline-size: var(--size-laptop);
  }
}

.view-listing__grid {
  column-gap: 2rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto 1fr;
  padding-block: var(--size-8);
}

.view-listing__aside {
  grid-column: span 1 / span 1;
  grid-row: span 2 / span 2;
  order: 1;

  h2 {
    font-size: var(--font-size-6);
  }
}

.view-listing__bg {
  background-color: var(--gray-100);
  border-radius: var(--radius-2);
  padding-block: var(--size-6);
  padding-inline: var(--size-6);
}

.view-listing__facets {
  margin-block-end: var(--size-3);
}

.view-listing__content {
  grid-column: span 2 / span 2;
  order: 2;

  .views-row {
    border-bottom-width: 1px;
    padding-block: var(--size-6);

    &:last-child {
      border-bottom-width: 0;
    }
  }
}
