/**
 * @file
 * Quicklinks menu styling.
 */

.menu-quicklinks {
  display: flex;
  flex-wrap: wrap;

  .menu__item {
    margin-block-end: var(--size-2);
    margin-inline-end: var(--size-2);

    &:last-child {
      margin-inline-end: 0;
    }
  }

  .menu__link {
    background-color: var(--white);
    border-radius: var(--radius-6);
    border-width: 1px;
    color: var(--midnight-joshua-tree);
    cursor: pointer;
    display: inline-block;
    padding-block: var(--size-2);
    padding-inline: var(--size-3);
    transition-duration: 200ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: ease-in-out;

    &:hover {
      background-color: var(--silver-screen);
      color: var(--midnight-joshua-tree);
    }
  }
}
