/**
 * @file
 * Event styles.
 */

.event__grid {
  @media (--laptop) {
    display: grid;
    grid-column-gap: var(--size-10);
    grid-template-columns: calc(50% - 1rem) 1fr;
    grid-template-rows: auto 1fr;
  }

  .event__content {
    margin-block-end: var(--size-8);

    @media (--laptop) {
      grid-column: 1/1;
      grid-row: 1/4;
      margin-block-end: 0;
    }
  }

  .event__sidebar {
    @media (--laptop) {
      grid-column: 2/3;
    }
  }
}

.event__content--details {
  .event__title {
    margin-block-end: var(--size-2);
  }

  .event__subtitle {
    font-size: var(--font-size-5);
    margin-block-end: var(--size-5);
  }
}

/** TODO: Move this to Page Header **/
.page-header__text {
  a {
    color: var(--white);

    &:hover {
      border-bottom-color: var(--white);
      color: var(--white);
    }
  }
}

.event__meta {
  align-items: center;
  display: flex;

  .date-badge {
    margin-inline-end: var(--size-6);
  }
}

.event__date-and-organization {
  .event__next,
  .event__organization-name {
    font-size: var(--font-size-2);
    margin-block-start: var(--size-2);
  }
}

.event__organization-name {
  a,
  a:hover {
    align-items: center;
    color: var(--ucla-yellow);
    display: flex;
    font-weight: var(--font-weight-600);
  }

  svg {
    inline-size: var(--size-3);
    margin-inline-end: var(--size-2);
  }
}

/* Labels for "Next date" and "Upcoming dates". */
.event__instance--label {
  display: block;
  font-size: var(--font-size-0);
  text-transform: uppercase;
}

.event__upcoming-dates--wrapper {
  margin-block-start: var(--size-6);

  /* Each upcoming date item. */
  li {
    margin-block-end: var(--size-2);
  }
}

.event__media {
  margin-block-end: var(--size-8);

  @media (--laptop) {
    grid-column: 2/3;
    grid-row: 1;
    margin-block-end: 0;
    margin-block-start: calc(var(--size-24) * -1);
  }

  img {
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-3);
    width: 100%;
  }

  .event__type {
    align-items: center;
    background-color: var(--ucla-blue);
    color: var(--white);
    display: flex;
    height: var(--size-10);
    justify-content: center;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
  }
}

.event__address {
  margin-block-end: var(--size-1);
  margin-block-start: var(--size-10);

  .address__organization-name {
    margin-block-end: var(--size-2);
  }

  /* Hides country from view. */
  .country {
    display: none;
  }
}

.event__sidebar--label,
.event__share {
  font-family: var(--font-heading);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-600);
  margin-block-end: var(--size-1);
  margin-block-start: var(--size-10);
}

.event__sidebar--label {
  display: block;
}

.event__main {
  padding-block: var(--size-8);

  @media (--laptop) {
    padding-block-end: var(--size-12);
  }

  .event__host {
    span {
      font-weight: var(--font-weight-600);
    }
  }
}
