/**
 * @file
 * Gallery styles.
 */

:where([data-theme="labs"]) {
  --gallery-bg: var(--avocado-toast);
}

:where([data-theme="labs-dynamic"]) {
  --gallery-bg: var(--avocado-toast);
}

.gallery {
  position: relative;
}

.gallery__container {
  .layout--onecol & {
    background-color: var(--gallery-bg, transparent);
  }

  .layout--onecol.is-full-width & {
    padding-inline: var(--size-10);
  }
}

.gallery__title {
  color: var(--gray-900);
  font-family: var(--font-heading);
  font-size: var(--font-size-8);
  line-height: var(--leading-normal);
  margin-block-end: var(--size-6);
  padding-inline: var(--size-15);

  /* Change the title text color based on background color being selected. */
  .bg-santa-barbara-sand.layout--onecol & {
    color: var(--midnight-observatory);
  }

  .bg-venice-canal.layout--onecol & {
    color: var(--white);
  }
}

.gallery__content {
  display: grid;
  gap: var(--size-8);
  grid-template-columns: repeat(3, 1fr);
  padding-inline: var(--size-15);
}

.gallery__top,
.gallery__bottom {
  display: none;

  @media (--tablet) {
    .layout--onecol & {
      display: block;
      width: 100%;
    }
  }
}
