/**
 * @file
 * Media styles.
 */

.media--type-sf-video-media-type {
  height: 0;
  margin-bottom: 1rem;
  padding-bottom: 56.34%;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.media--type-sf-image-media-type {
  .is-full-width & {
    img {
      width: 100%;
    }
  }
}
