/**
 * @file
 * Tags field styling.
 */

.field--tags {
  display: flex;
  font-family: var(--font-body);
}

.field--tags__label {
  color: var(--gray-700);
  font-size: var(--font-size-0);
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.6;
  margin-block: 0;
  margin-inline-end: calc(var(--size-6) - (var(--size-2) / 2));
  margin-inline-start: 0;

  &::after {
    content: ":";
  }

  @media (--tablet) {
    line-height: 2;
  }
}

.field--label-inline .field--tags__label {
  padding-block: 0;
  padding-inline: 0;
}

.field--tags__items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-block: calc((var(--size-2) / 2) * -1);
  margin-inline: calc((var(--size-2) / 2) * -1);
  padding-block: 0;
  padding-inline: 0;
}

.field--tags__item {
  display: flex;
  margin-block: calc(var(--size-2) / 2);
  margin-inline: calc(var(--size-2) / 2);
}

.field--tags__item:nth-last-child(n+2)::after {
  content: ",";
  font-size: var(--font-size-1);
  line-height: 1.5;
}

.field--tags__item a {
  align-items: center;
  color: var(--blue-900);
  display: flex;
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-700);
  letter-spacing: 0.02em;
  line-height: 1.5;
  position: relative;
  text-decoration: none;
}

.node--view-mode-full {
  & .field--tags {
    background-color: var(--gray-100);
    margin-block: var(--size-18);
    padding-block: var(--size-6);
    padding-inline: var(--size-8);
  }
}
