/**
 * @file
 * Links component.
 */

.links.inline {
  list-style: none;
  margin-inline-start: 0;
  padding-block: 0;
  padding-inline: 0;

  & > * {
    display: inline;

    &:not(:last-child) {
      padding-inline-end: 1em;
    }
  }
}
