<section class="site-alert">
  <div class="container">
    <div class="site-alert__content">
      <span class="fa-solid fa-circle-info"></span>
      <span class="site-alert__text">{{ text|default('Find the latest information on <a href="#">COVID-19</a>, <a href="#">monkeypox</a> and <a href="#">flu prevention</a>.')|raw }}</span>
    </div>
  </div>
</section>
