<section class="pl-borders">
  <div class="just-for-gap">
    <div class="heading">Border Size</div>
    <article class="border-demo">
      <div style="border-width: var(--border-size-1);">1</div>
      <div style="border-width: var(--border-size-2);">2</div>
      <div style="border-width: var(--border-size-3);">3</div>
      <div style="border-width: var(--border-size-4);">4</div>
      <div style="border-width: var(--border-size-5);">5</div>
    </article>
  </div>

  <div class="just-for-gap">
    <div class="heading">Border Radius</div>
    <article class="border-demo">
      <div style="border-radius: var(--radius-1);">1</div>
      <div style="border-radius: var(--radius-2);">2</div>
      <div style="border-radius: var(--radius-3);">3</div>
      <div style="border-radius: var(--radius-4);">4</div>
      <div style="border-radius: var(--radius-5);">5</div>
      <div style="border-radius: var(--radius-6);">6</div>
      <div style="border-radius: var(--radius-7);">7</div>
      <div style="border-radius: var(--radius-round);">round</div>
    </article>
  </div>
</section>
