{{ attach_library('surface/related-content') }}

{% set classes = [
  'related-content',
  modifier ? modifier : '',
  attributes ? attributes.class,
]|join(' ')|trim %}

<section {{ add_attributes({ 'class': classes }) }}>
  <div class="related-content__inner">
    {% if title or see_more %}
      <header class="related-content__header">
        {% if title %}
          {% include "@elements/title/title.twig" with {
              'title': title,
            } only
          %}
        {% endif %}

        {% if see_more %}
          <div class="related-content__more-link-wrapper">
            {% embed "@elements/button/button.twig" with {
                'button': see_more,
              } only
            %}
            {% block button_icon %}
              <svg aria-hidden="true" class="svg-inline icon icon--arrow-right" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
              </svg>
            {% endblock %}
            {% endembed %}
          </div>
        {% endif %}
      </header>
    {% endif %}

    {% if items %}
      <div class="related-content__items">
        {% block cards %}
          {% for item in items %}
            {% include "@components/card/card.twig" with {
              'attributes': attributes,
              'modifier': item.modifier,
              'event_type': item.event_type,
              'image': item.image,
              'title': item.title,
              'organization': item.organization,
              'date': item.date,
              'date_short': item.date_short,
              'more_dates': item.more_dates,
              'readtime': item.readtime,
              } only
            %}
          {% endfor %}
        {% endblock %}
      </div>
    {% endif %}
  </div>
</section>
