/**
 * @file
 * Widget cta styles.
 */

.cta-banner {
  background-color: var(--ucla-blue);
  color: var(--white);

  @media (--desktop) {
    display: flex;
    justify-content: center;
  }
}

.cta-banner__inner:not(.is-narrow &) {
  display: flex;
  flex-direction: column;
  max-width: var(--size-container);
  padding: var(--size-6);
  width: 100%;

  @media (--mobile) {
    padding: var(--size-10);
  }

  @media (--laptop) {
    flex-direction: row;
    padding: var(--size-20);
  }

  @media (--tablet) {
    padding: var(--size-30);
  }

  @media (--laptop) {
    align-items: center;
  }
}

.cta-banner__content {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--size-10);

  @media (--mobile) {
    margin-block-end: var(--size-20);
  }

  @media (--laptop) {
    align-items: flex-start;
    margin-block-end: 0;
    margin-inline-end: 10%;
    width: 50%;
  }

  @media (--desktop) {
    margin-inline-end: 0
  }

  .button {
    margin-block-start: var(--size-10);
  }
}

.cta-banner__title {
  color: var(--white);
  margin-block-end: var(--size-6);
  margin-block-start: 0;
}

.cta-banner__image {
  display: flex;
  justify-content: center;
  margin-inline: auto;

  @media (--tablet) {
    width: 75%;
  }

  @media (--laptop) {
    align-items: center;
    width: 40%;
  }
}

/* Styles to display component in narrow containers (i.e. sidebar). */
.cta-banner.is-narrow {
  .cta-banner__inner {
    flex-direction: column;
    padding: var(--size-6);
  }

  .cta-banner__content {
    width: 100%;
  }

  .cta-banner__heading {
    font-size: var(--font-size-8);
  }

  .cta-banner__image {
    margin-block-start: var(--size-6);
    width: 75%;
  }
}
