<section class="pl-aspect-ratio">
  <div class="just-for-gap">
    <div class="heading">Aspect Ratios</div>
    <article class="aspect-demo">
      <div style="aspect-ratio: var(--ratio-box)">box</div>
      <div style="aspect-ratio: var(--ratio-photo)">photo</div>
      <div style="aspect-ratio: var(--ratio-portrait)">portrait</div>
      <div style="aspect-ratio: var(--ratio-landscape)">landscape</div>
      <div style="aspect-ratio: var(--ratio-widescreen)">widescreen</div>
      <div style="aspect-ratio: var(--ratio-cinemascope)">cinemascope</div>
    </article>
  </div>
</section>
