/**
 * @file
 * Checkbox and radio input elements.
 */

input[type="checkbox"] {
  --chkbg: 215 28% 17%;
  --chkfg: 0 0% 100%;
  appearance: none;
  background-color: var(--white);
  border-radius: var(--radius-2);
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  height: var(--size-6);
  margin-inline-end: var(--size-2);
  vertical-align: text-bottom;
  width: var(--size-6);

  &:checked,
  &[checked="true"],
  &[aria-checked="true"] {
    animation: checkmark 0.2s ease-in-out;
    background-color: var(--gray-900);
    background-image:
      linear-gradient(-45deg, transparent 65%, hsl(var(--chkbg)) 66%),
      linear-gradient(45deg, transparent 75%, hsl(var(--chkbg)) 76%),
      linear-gradient(-45deg, hsl(var(--chkbg)) 40%, transparent 41%),
      linear-gradient(45deg, hsl(var(--chkbg)) 30%, hsl(var(--chkfg)) 31%, hsl(var(--chkfg)) 40%, transparent 41%),
      linear-gradient(-45deg, hsl(var(--chkfg)) 50%, hsl(var(--chkbg)) 51%);
    background-repeat: no-repeat;
  }

  &:focus {
    outline: 2px solid var(--gray-300);
    outline-offset: 2px;
  }

  & + label {
    display: inline-block;
    padding-inline-start: var(--size-2);
  }
}

@keyframes checkmark {
  0% {
    background-position-y: 5px;
  }

  50% {
    background-position-y: -2px;
  }

  100% {
    background-position-y: 0;
  }
}

input[type="radio"] {
  appearance: none;
  background-color: var(--white);
  border-radius: var(--radius-round);
  border-width: 1px;
  color: currentColor;
  display: grid;
  font: inherit;
  height: var(--size-6);
  margin: 0;
  place-content: center;
  transform: translateY(-0.075em);
  width: var(--size-6);

  &::before {
    border-radius: var(--radius-round);
    box-shadow: inset 1em 1em var(--black);
    content: "";
    height: var(--size-4);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    width: var(--size-4);
  }

  &:checked::before {
    transform: scale(1);
  }

  &:focus {
    outline: 2px solid var(--gray-300);
    outline-offset: 2px;
  }

  & + label {
    display: inline-block;
    padding-inline-start: var(--size-2);
  }
}
