.share {
  align-items: center;
  display: flex;

  div {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-500);
    margin-inline-end: var(--size-4);
  }

  ul {
    display: flex;
    gap: var(--size-4);
  }

  a {
    --size: 40px;
    display: flex;
    height: var(--size);
    width: var(--size);
  }

  svg {
    --size: 30px;
    color: var(--gray-900);
    display: block;
    font-size: inherit;
    height: var(--size);
    margin: auto;
    width: var(--size);
  }
}
