<div class="form-elements-demo">
  <div class="form-elements-demo__item">
    <fieldset>
      <legend>Which of these is your favorite sport?  Check all that apply</legend>

      <div>
        <input type="checkbox" id="football" name="drone" value="Football" checked />
        <label for="football">Football</label>
      </div>

      <div>
        <input type="checkbox" id="basketball" name="drone" value="Basketball" />
        <label for="basketball">Basketball</label>
      </div>

      <div>
        <input type="checkbox" id="track" name="drone" value="Track" />
        <label for="track">Track</label>
      </div>
    </fieldset>
  </div>
  <div class="form-elements-demo__item">
    <fieldset>
      <legend>What major do you plan on selecting?</legend>

      <div>
        <input type="radio" id="medicine" name="drone" value="Medicine" checked />
        <label for="medicine">Medicine</label>
      </div>

      <div>
        <input type="radio" id="business" name="drone" value="Business" />
        <label for="business">Business</label>
      </div>

      <div>
        <input type="radio" id="arts" name="drone" value="Arts" />
        <label for="arts">Arts</label>
      </div>
    </fieldset>
  </div>
</div>
