<div class="form-elements-demo">
  <div class="form-elements-demo__item">
    <fieldset>
      <legend>Legend of the fieldset</legend>
      <p>Body of the fieldset can be any type of content such as text, images, etc.</p>
    </fieldset>
  </div>
</div>
