<div class="form-elements-demo">
  <div class="form-elements-demo__item">
    <label>Select the year you graduated from college</label>
    <select id="graduation">
      <option value="2000">2000</option>
      <option value="2001">2001</option>
      <option value="2002">2002</option>
      <option value="2005" selected>2005</option>
    </select>
  </div>
</div>
