<div class="form-elements-demo">
  <div class="form-elements-demo__item">
    <label class="demo-label">Date field</label>
    <input type="date">
  </div>

  <div class="form-elements-demo__item">
    <label class="demo-label">Email field</label>
    <input type="email" placeholder="first_last@mednet.ucla.edu">
  </div>

  <div class="form-elements-demo__item">
    <label class="demo-label">Number field</label>
    <input type="number" placeholder="1234567890">
  </div>

  <div class="form-elements-demo__item">
    <label class="demo-label">Password field</label>
    <input type="password" placeholder="***********">
  </div>

  <div class="form-elements-demo__item">
    <label class="demo-label">Search field</label>
    <input type="search" placeholder="Search by keyword">
  </div>

  <div class="form-elements-demo__item">
    <label class="demo-label">Telephone number field</label>
    <input type="tel" placeholder="(888) 555-1212">
  </div>

  <div class="form-elements-demo__item">
    <label class="demo-label">Text field</label>
    <input type="text" placeholder="Type anything in this field">
  </div>

  <div class="form-elements-demo__item">
    <label class="demo-label">Time field</label>
    <input type="time">
  </div>

  <div class="form-elements-demo__item">
    <label class="demo-label">URL field</label>
    <input type="url" placeholder="https://medschool.ucla.edu">
  </div>
</div>
