<div class="form-elements-demo">
  <div class="form-elements-demo__item">
    <label>Example of a textarea element</label>
    <textarea name="demo" id="demo" cols="30" rows="5">Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod.
    </textarea>
  </div>
</div>
