/**
 * @file
 * Background utility classes.
 */

.bg-transparent {
  background-color: transparent;
}

.bg-surface-blue {
  background-color: var(--surface-blue);
}

.bg-midnight-joshua-tree {
  background-color: var(--midnight-joshua-tree);
}

.bg-gradient-linear-surface-blue {
  background-image: linear-gradient(to right,var(--sky-900), var(--surface-blue));
}
