.h-0 {
  block-size: 0;
}

.h-px {
  block-size: 1px;
}

.h-full {
  block-size: 100%;
}

.h-screen {
  block-size: 100vh;
}

.h-min {
  block-size: min-content;
}

.h-max {
  block-size: max-content;
}

.h-fit {
  block-size: fit-content;
}
