/**
 * @file
 * Person card styles.
 */

.person-card {
  background-color: var(--white);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  margin-inline: auto;
  max-width: var(--size-50);

  @media (--mobile) {
    margin-inline: initial; /* resets margin on larger devices. */
  }

  &:hover {
    box-shadow: var(--shadow-3);

    .person-card__name {
      color: var(--ucla-blue);
    }
  }
}

.person-card__image {
  img {
    width: 100%;
  }
}

.person-card__meta {
  padding-block: var(--size-4);
  padding-inline: var(--size-4);
}

.person-card__name {
  font-family: var(--font-heading);
  font-size: var(--font-size-3);
  line-height: var(--leading-normal);
}

.person-card__title {
  color: var(--gray-500);
  display: inline-block;
  font-size: var(--font-size-0);
  line-height: var(--leading-tight);
  padding-block-start: var(--size-4);
}
