/**
 * @file
 * View styles.
 */

.view {
  & > * {
    margin-block-end: var(--size-8);

    &:last-child {
      margin-block-end: 0;
    }

    @media (--tablet) {
      margin-block-end: var(--size-12);
    }
  }
}

.view-header {
  display: flex;
  justify-content: space-between;

  .view-header__link {
    color: var(--surface-blue);
    font-size: var(--font-size-2);

    &:hover {
      color: var(--midnight-joshua-tree);
    }
  }
}

.view-content {
  .views-form {
    background-color: white;
    border: 1px solid var(--gray-200);
    border-radius: 2px;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 10%);
    box-sizing: border-box;
    margin-top: 0;
    padding: 1.5rem;
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
      flex-wrap: initial;
    }
  }

  .views-row {
    margin-block-start: var(--size-8);

    &:first-child {
      margin-block-start: 0;
    }
  }
}
