/**
 * @file
 * Event card styles.
 */
.event-card {
  background-color: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  min-block-size: var(--size-40);
  overflow: hidden;
  padding: var(--size-4);
}

.event-card__title {
  color: var(--ucla-blue);
  font-family: var(--font-heading);
  font-size: var(--font-size-5);
  padding-block: var(--size-2);

  a {
    &:hover {
      color: var(--midnight-joshua-tree);
    }
  }
}

.event-card__organization {
  align-items: center;
  display: flex;
  margin-block-end: var(--size-2);

  a {
    color: var(--ucla-blue);
    display: flex;
  }

  svg {
    color: var(--ucla-blue);
    display: inline-block;
    font-size: inherit;
    height: 1em;
    margin-inline-end: var(--size-1);
    vertical-align: -0.125em;
    width: 1em;
  }

  span {
    color: var(--ucla-blue);
    display: inline-block;
    font-size: inherit;
    line-height: var(--leading-tight);
    margin-inline-start: 0;
  }
}

.event-card__date--wrapper {
  align-items: center;
  color: inherit;
  display: flex;

  /* Show the label '+ more dates' when an event is recurring and
  looking at the card component. */
  .event-card__more-dates {
    color: inherit;
    font-weight: normal;
    margin-inline-start: var(--size-3);

    &:hover {
      color: var(--ucla-blue);
    }
  }

  /* Hide upcoming dates <details> tag so only the next event instance date
  shows up on cards.  We need to know if there are upcoming dates to be
  able to show the '+ more dates' link/label on cards where there are
  upcoming dates, however, we don't need to display them. */
  .recurring-output--wrapper {
    details {
      display: none;
    }
  }
}

/* Font size for '+ more dates' when inside a card that is displayed in the
event highlight.
TODO: Remove the rule below when Drupal is updated to use the Event highlight component.
Because Drupal is currently not using the Event highlight component,
this rule below needs to live here.  Once Drupal is updated to use the
Event highlight component, this rule can be removed and a similar rule already
exists in `event-highlight.css`. */
.view-events-highlight {
  .event-card__more-dates {
    font-size: var(--font-size-sm);
  }
}

.event-card__date {
  align-items: center;
  display: flex;
  font-weight: var(--font-weight-600);
  padding-block: var(--size-4);

  .date {
    font-weight: var(--font-weight-600);

    svg {
      margin-inline-end: var(--size-2);
    }
  }

  /* Hide date-badge in mobile. */
  .date-badge {
    display: none;
    margin-inline-end: var(--size-6);

    @media (--tablet) {
      display: flex;
    }
  }
}

/*
 * Hide the date-badge in narrow containers where the class
 * .has--narrow-cards appear such as related events or events highlight.
 * Regardless of whether is mobile or desktop.
 */
.has--narrow-cards {
  .date-badge {
    display: none !important;
  }
}
