/**
 * @file
 * Quote styles.
 */

.quote__container {
  padding: var(--size-5);

  @media (--tablet) {
    padding: var(--size-10);
  }
}

.quote__wrapper {
  @media (--laptop) {
    margin-inline: auto;
    max-width: 85ch;
    padding-block: var(--size-6);
    padding-inline: var(--size-8);

    .layout--onecol & {
      max-width: 100%;
    }
  }

  blockquote {
    border-left-color: var(--ucla-blue);
    border-left-width: var(--size-2);
    color: var(--ucla-blue);
    font-size: var(--font-size-4);
    font-style: italic;
    font-weight: var(--font-weight-400);
    margin-block: var(--size-8);
    padding-block: var(--size-4);
    padding-inline-start: var(--size-6);
    quotes: "\201C""\201D""\2018""\2019";

    .bg-santa-barbara-sand.layout--onecol & {
      border-left-color: var(--chumash-soil);
      color: var(--midnight-observatory);
    }

    .bg-venice-canal.layout--onecol & {
      border-left-color: var(--chumash-soil);
      color: var(--white);
    }

    :where(p) {
      &:first-of-type {
        margin-block-end: var(--size-4);

        &::after {
          content: close-quote;
        }

        &::before {
          content: open-quote;
        }
      }
    }

    :where(em) {
      font-size: var(--font-size-2);
      font-style: normal;
      font-weight: var(--font-weight-400);
    }
  }
}
