<section class="pl-shadows">
  <div class="just-for-gap">
    <div class="heading">Box Shadow</div>
    <article class="shadow-demo">
      <div style="box-shadow: var(--shadow-1);">Shadow 1</div>
      <div style="box-shadow: var(--shadow-2);">Shadow 2</div>
      <div style="box-shadow: var(--shadow-3);">Shadow 3</div>
      <div style="box-shadow: var(--shadow-4);">Shadow 4</div>
      <div style="box-shadow: var(--shadow-5);">Shadow 5</div>
      <div style="box-shadow: var(--shadow-6);">Shadow 6</div>
    </article>
  </div>

  <div class="just-for-gap">
    <h3>Inner Shadow</h3>
    <article class="shadow-demo">
      <div style="box-shadow: var(--inner-shadow-0);">Inner Shadow 1</div>
      <div style="box-shadow: var(--inner-shadow-1);">Inner Shadow 2</div>
      <div style="box-shadow: var(--inner-shadow-2);">Inner Shadow 3</div>
      <div style="box-shadow: var(--inner-shadow-3);">Inner Shadow 4</div>
      <div style="box-shadow: var(--inner-shadow-4);">Inner Shadow 5</div>
    </article>
  </div>
</section>
