/**
 * @file
 * Embedded Media.
 */

.align-right {
  float: none;
  margin-inline: 0;

  @media (--tablet) {
    float: right;
    margin-inline-end: 0;
    margin-inline-start: var(--size-10);
  }
}

.align-left {
  float: none;
  margin-inline: 0;

  @media (--tablet) {
    float: left;
    margin-inline-end: var(--size-10);
    margin-inline-start: 0;
  }
}

.align-center {
  margin-inline: auto;
}

.media-oembed-content {
  display: block;
  max-inline-size: 100%;
}

.media {
  position: relative;

  .media-library-item__edit {
    background-color: var(--white);
    background-image: url("./images/pencil.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    border-radius: var(--radius-round);
    border-width: 1px;
    color: transparent;
    cursor: pointer;
    font-size: 0;
    height: 32px;
    margin: 4px;
    pointer-events: auto;
    position: absolute;
    right: 20px;
    top: 10px;
    transition: 0.2s border-color;
    width: 32px;
    z-index: 1;

    &:hover {
      background-color: var(--gray-100);
    }
  }
}
