/**
 * @file
 * Button styles.
 */

/* Exclude the initial button styles if the classes `prose` or `button--link` exist in the element. */
.button:not(:where([class~='prose'] *, .button--link)) {
  align-items: center;
  appearance: none;
  background-color: var(--gray-300);
  border-color: var(--gray-300);
  border-radius: 0;
  border-width: 1px;
  color: var(--black);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-system);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-700);
  justify-content: center;
  line-height: var(--leading-none);
  padding-block: var(--size-4);
  padding-inline: var(--size-6);
  position: relative;
  transition: var(--transition-soft-linear);
  white-space: nowrap;
  width: fit-content;

  &:visited {
    color: var(--black);
  }

  &:hover {
    background-color: var(--gray-200);
    border-color: var(--gray-300);
  }

  &:focus {
    box-shadow:
      0 0 var(--white),
      0 0 0 2px var(--gray-400),
      0 0 var(--white);
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  &[aria-expanded='true'] {
    &:focus::after {
      border-color: var(--gray-300);
    }
  }

  &:disabled {
    background-color: var(--gray-300);
    color: var(--gray-500);
    cursor: not-allowed;
    pointer-events: none;
  }

  /* If two buttons are added, this should add some separation. */
  + .button {
    margin-block: var(--size-4);

    @media (--laptop) {
      margin-block: 0;
      margin-inline-start: var(--size-2);
    }
  }

  svg {
    display: inline-block;
    height: 1em;
    margin-inline-start: var(--size-2);
    width: 1em;

    path {
      color: inherit;
    }
  }
}

/* Button primary */
.button--primary {
  background-color: var(--surface-blue);
  border-color: var(--surface-blue);
  color: var(--white);
  font-family: var(--font-body);

  &:visited {
    background-color: var(--surface-blue);
    color: var(--white);
  }

  &:hover {
    background-color: var(--silver-lake-reservoir);
    color: var(--white);
  }

  &:focus {
    box-shadow:
      0 0 var(--white),
      0 0 0 2px var(--surface-blue),
      0 0 var(--white);
  }

  &:active {
    background-color: var(--silver-lake-reservoir);
    color: var(--white);
  }
}

/* Button secondary */
.button--secondary {
  background-color: var(--surface-yellow);
  border-color: var(--surface-yellow);
  color: var(--midnight-joshua-tree);
  font-family: var(--font-body);

  &:visited {
    background-color: var(--surface-yellow);
    color: var(--midnight-joshua-tree);
  }

  &:hover {
    background-color: var(--chumash-soil);
    border-color: var(--chumash-soil);
    color: var(--midnight-joshua-tree);
  }

  &:focus {
    box-shadow:
      0 0 var(--white),
      0 0 0 2px var(--surface-yellow),
      0 0 var(--white);
  }

  &:active {
    background-color: var(--chumash-soil);
    color: var(--midnight-joshua-tree);
  }
}

/* Give button */
.button--give {
  background-color: transparent;
  border: 0;
  color: var(--white);
  font-family: var(--font-body);
  font-weight: var(--font-weight-400);
  margin-block: 0;
  padding-block: var(--size-2);
  padding-inline: var(--size-4);

  &:visited {
    background-color: inherit;
    color: inherit;
  }

  &:hover {
    background-color: inherit;
    color: var(--gray-200);
  }

  &:focus {
    box-shadow:
      0 0 var(--white),
      0 0 0 2px var(--white),
      0 0 var(--white);
  }

  & svg {
    inline-size: 1em;
    margin-inline-end: var(--size-2);
  }
}

/* Translate button */
.button--translate {
  background-color: transparent;
  border: 0;
  color: var(--white);
  font-family: var(--font-body);
  font-weight: var(--font-weight-400);
  margin-block: 0;
  padding-block: var(--size-2);
  padding-inline: var(--size-4);

  &:hover {
    background-color: inherit;
    color: var(--gray-200);
  }

  &:focus {
    box-shadow:
      0 0 var(--white),
      0 0 0 2px var(--white),
      0 0 var(--white);
  }

  & svg {
    inline-size: 1em;
    margin-inline-end: var(--size-2);
  }
}

/* Search button */
.button--search {
  background-color: transparent;
  border: 0;
  color: var(--white);
  font-family: var(--font-body);
  font-weight: var(--font-weight-400);
  margin-block: 0;
  margin-inline-end: 0;
  padding-block: var(--size-2);
  padding-inline: var(--size-4);

  &:hover {
    background-color: inherit;
    color: var(--gray-200);
  }

  &:focus {
    box-shadow:
      0 0 var(--white),
      0 0 0 2px var(--white),
      0 0 var(--white);
  }

  & svg {
    inline-size: 1em;
    margin-inline-end: var(--size-2);
  }
}

/* Button square */
.button--square {
  border-radius: var(--radius-4);
  height: 3rem;
  margin: 0;
  padding: 0;
  width: 3rem;

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

/* Outlined button. */
.button--outlined {
  background-color: transparent;
  border-color: currentColor;
  font-family: var(--font-body);

  &:hover {
    background-color: var(--black);
    color: var(--white);
  }
}

.button--link {
  color: inherit;

  svg {
    display: inline-block;
    height: 1rem;
    margin-inline-start: var(--size-05);
    width: 1rem;

    path {
      color: inherit;
    }
  }
}
