/**
 * @file
 * Admin theme styling.
 */

.gin--edit-form {
  .ui-dialog {
    .ui-dialog-titlebar {
      align-items: center;
      display: flex;
      justify-content: space-between;

      &::after,
      &::before {
        content: none;
      }
    }

    .ui-dialog-titlebar-close {
      opacity: inherit;
      position: relative;
      right: 0 !important;
      top: inherit;
    }
  }

  .media-form {
    .messages-list {
      margin-block-start: 16px;
    }
  }

  .media-library-wrapper {
    margin-block: 0;
  }

  .media-library-menu {
    padding-block-start: 0;

    .media-library-menu__item {
      margin-block: 0;
      padding-block: 0;
    }
  }

  .messages__title {
    color: inherit;
  }

  .page-wrapper__node-edit-form .block-local-tasks-block,
  .page-wrapper__node-edit-form .block-system-main-block,
  .page-wrapper__node-edit-form .messages-list,
  .page-wrapper__node-edit-form .node-form,
  .page-wrapper__node-edit-form .node-confirm-form,
  .page-wrapper__node-edit-form .admin-list,
  .page-wrapper__node-edit-form .help {
    max-width: 100% !important;
  }
}

.gin-node-edit-form {
  .field-multiple-table tr {
    .form-item:not(:last-of-type) {
      margin-block-end: 0;
      padding-inline-end: 8px;
    }
  }
}

.toolbar .toolbar-bar .toolbar-menu-administration .toolbar-icon-surface-atom-simple {
  &::before {
    mask-image: url("data:image/svg+xml,%3Csvg width='654' height='702' viewBox='0 0 654 702' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M643.947 182.667C618.488 138.984 550.092 128.385 462.067 148.093C435.561 63.052 392.103 9.73331 341.181 9.73331C333.572 9.75935 326.015 10.9677 318.78 13.3166C301.619 0.592645 279.207 -2.63669 259.155 4.73331C239.103 12.103 224.108 29.0773 219.275 49.884C214.436 70.6906 220.405 92.5347 235.155 107.993C229.483 121.118 224.498 134.524 220.217 148.165C132.187 128.379 63.4173 138.905 38.0973 182.66H38.1026C27.0556 203.045 24.8733 227.072 32.0556 249.113C40.8682 281.895 64.4623 318.629 99.253 355.587C60.201 397.327 35.4143 438.764 29.737 475.056C14.169 484.858 3.62762 500.941 0.851617 519.129C-1.92958 537.317 3.33082 555.817 15.2676 569.817C27.1999 583.823 44.6276 591.948 63.0276 592.088C81.4236 592.234 98.9756 584.374 111.126 570.552C120.897 571.922 130.752 572.594 140.616 572.573C167.252 572.193 193.766 568.911 219.689 562.792C246.569 648.136 290.325 701.672 341.173 701.672C392.021 701.672 435.7 648.208 462.058 562.938C478.72 566.746 495.6 569.516 512.605 571.23C519.74 591.178 536.37 606.246 556.922 611.381C577.48 616.521 599.24 611.047 614.922 596.802C630.605 582.557 638.13 561.417 634.985 540.463C638.24 536.859 641.115 532.932 643.574 528.739C654.615 508.359 656.803 484.333 649.62 462.286C640.808 429.505 617.142 392.625 582.423 355.661C617.068 318.327 640.735 281.817 649.62 249.035V249.041C656.896 227.067 654.844 203.077 643.943 182.661L643.947 182.667ZM127.853 534.8C129.765 518.284 125.129 501.68 114.937 488.545C104.749 475.41 89.8167 466.791 73.3487 464.535H70.8123C79.0987 440.941 97.5416 412.269 125.766 382.399L125.76 382.404C147.859 402.811 171.255 421.764 195.802 439.149C198.635 468.8 203.421 498.237 210.135 527.259C183.203 533.644 155.499 536.185 127.853 534.8ZM192.364 389.573C178.025 378.375 164.588 367.172 152.192 355.6C164.364 344.324 177.801 333.199 192.437 321.553C191.989 332.829 191.693 343.955 191.693 355.751C191.693 367.548 191.989 378.448 192.364 389.573ZM195.947 272.495C171.327 289.765 147.859 308.62 125.687 328.943C95.8233 297.063 75.5887 265.921 68.4167 239.344C64.0208 226.917 64.8282 213.24 70.6563 201.412C85.5883 175.428 138.454 168.557 210.59 184.464C203.808 213.459 198.923 242.865 195.954 272.495H195.947ZM445.481 245.317C435.824 239.244 425.866 233.323 415.617 227.547C405.361 221.771 395.409 216.349 385.753 211.271C402.977 204.5 419.575 198.75 435.555 194.02C439.66 210.072 442.795 227.171 445.482 245.317H445.481ZM267.921 126.448C269.561 126.448 271.207 127.12 272.848 127.344C294.093 130.318 315.394 122.344 329.468 106.161C343.541 89.9785 348.478 67.7758 342.588 47.1505C372.452 48.2703 404.114 89.3385 425.842 157.656C396.982 166.411 368.722 177.036 341.243 189.468C313.79 177.041 285.555 166.416 256.722 157.656C260.457 146.682 263.889 136.301 267.921 126.448ZM246.566 193.645C262.493 198.625 279.071 204.375 296.295 210.896C286.342 215.875 276.383 221.297 266.431 227.172C256.478 233.047 246.519 238.943 236.567 244.869C239.552 227.396 242.76 210.296 246.567 193.948L246.566 193.645ZM236.785 466.099C246.441 472.172 256.399 478.093 266.649 483.869C276.503 489.468 286.436 494.843 296.513 500C279.565 506.646 262.986 512.396 246.862 517.251C242.758 501.193 239.472 484.172 236.784 466.1L236.785 466.099ZM341.316 664.339C311.004 664.339 278.67 622.823 256.57 553.235V553.24C285.466 544.558 313.773 534.032 341.316 521.729C368.832 534.089 397.118 544.661 425.993 553.385C403.738 622.828 371.482 664.344 341.17 664.344L341.316 664.339ZM435.696 517.392C419.493 512.538 402.841 506.715 385.893 500.069C395.898 494.918 405.83 489.543 415.757 483.867C425.689 478.19 435.768 472.143 445.621 466.096C442.788 484.241 439.652 501.341 435.694 517.393L435.696 517.392ZM450.628 417.933C433.601 429.506 415.758 440.783 397.092 451.387C378.425 461.991 359.758 471.693 340.868 480.507C322.274 471.694 303.534 461.991 284.868 451.387C266.201 440.783 248.357 429.512 231.331 417.933C229.764 397.996 228.941 377.24 228.941 355.663C228.941 334.085 229.837 313.548 231.404 293.168C248.055 281.892 265.826 270.767 284.868 259.939C303.911 249.111 322.65 239.329 341.019 230.668C359.336 239.329 378.055 249.084 397.17 259.939C415.836 270.616 433.68 281.813 450.706 293.392C452.273 313.329 453.096 334.085 453.096 355.663C453.091 377.247 452.346 398.075 450.779 417.939L450.628 417.933ZM613.774 471.991L613.779 471.996C616.889 481.897 617.201 492.469 614.675 502.532C598.238 487.933 575.415 482.887 554.363 489.204C533.306 495.516 517.025 512.286 511.337 533.521C498.185 532.011 485.129 529.818 472.206 526.948C478.93 497.88 483.716 468.396 486.545 438.693C511.066 421.329 534.43 402.401 556.509 382.021C586.373 413.907 606.686 445.043 613.925 471.995L613.774 471.991ZM489.905 321.471C504.243 332.596 517.608 343.872 529.926 355.293C517.608 366.642 504.166 377.695 489.905 389.116C490.353 378.017 490.577 366.741 490.577 355.293C490.577 343.845 490.353 332.569 489.905 321.471ZM613.926 239.335C606.457 266.288 586.374 297.423 556.51 329.381C534.437 309.001 511.068 290.075 486.546 272.709C483.718 243.007 478.932 213.521 472.208 184.455C544.186 168.627 596.458 175.496 611.394 201.481C617.3 213.242 618.212 226.888 613.931 239.336L613.926 239.335Z' fill='black'/%3E%3Cpath d='M349.613 292.8C332.931 290.555 316.04 295.024 302.66 305.232C289.275 315.441 280.493 330.544 278.248 347.227C276.003 363.91 280.472 380.8 290.68 394.18C300.883 407.566 315.987 416.347 332.67 418.596C349.352 420.841 366.243 416.372 379.628 406.169C393.008 395.961 401.795 380.857 404.044 364.18C406.294 347.492 401.82 330.601 391.612 317.211C381.404 303.825 366.295 295.044 349.612 292.799L349.613 292.8Z' fill='black'/%3E%3C/svg%3E%0A");
  }
}

.toolbar .toolbar-bar .toolbar-menu-administration .toolbar-icon-surface-user-gears {
  &::before {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath fill='currentColor' d='M224 0a128 128 0 1 1 0 256A128 128 0 1 1 224 0zM178.3 304h91.4c11.8 0 23.4 1.2 34.5 3.3c-2.1 18.5 7.4 35.6 21.8 44.8c-16.6 10.6-26.7 31.6-20 53.3c4 12.9 9.4 25.5 16.4 37.6s15.2 23.1 24.4 33c15.7 16.9 39.6 18.4 57.2 8.7v.9c0 9.2 2.7 18.5 7.9 26.3H29.7C13.3 512 0 498.7 0 482.3C0 383.8 79.8 304 178.3 304zM436 218.2c0-7 4.5-13.3 11.3-14.8c10.5-2.4 21.5-3.7 32.7-3.7s22.2 1.3 32.7 3.7c6.8 1.5 11.3 7.8 11.3 14.8v30.6c7.9 3.4 15.4 7.7 22.3 12.8l24.9-14.3c6.1-3.5 13.7-2.7 18.5 2.4c7.6 8.1 14.3 17.2 20.1 27.2s10.3 20.4 13.5 31c2.1 6.7-1.1 13.7-7.2 17.2l-25 14.4c.4 4 .7 8.1 .7 12.3s-.2 8.2-.7 12.3l25 14.4c6.1 3.5 9.2 10.5 7.2 17.2c-3.3 10.6-7.8 21-13.5 31s-12.5 19.1-20.1 27.2c-4.8 5.1-12.5 5.9-18.5 2.4l-24.9-14.3c-6.9 5.1-14.3 9.4-22.3 12.8l0 30.6c0 7-4.5 13.3-11.3 14.8c-10.5 2.4-21.5 3.7-32.7 3.7s-22.2-1.3-32.7-3.7c-6.8-1.5-11.3-7.8-11.3-14.8V454.8c-8-3.4-15.6-7.7-22.5-12.9l-24.7 14.3c-6.1 3.5-13.7 2.7-18.5-2.4c-7.6-8.1-14.3-17.2-20.1-27.2s-10.3-20.4-13.5-31c-2.1-6.7 1.1-13.7 7.2-17.2l24.8-14.3c-.4-4.1-.7-8.2-.7-12.4s.2-8.3 .7-12.4L343.8 325c-6.1-3.5-9.2-10.5-7.2-17.2c3.3-10.6 7.7-21 13.5-31s12.5-19.1 20.1-27.2c4.8-5.1 12.4-5.9 18.5-2.4l24.8 14.3c6.9-5.1 14.5-9.4 22.5-12.9V218.2zm92.1 133.5a48.1 48.1 0 1 0 -96.1 0 48.1 48.1 0 1 0 96.1 0z'/%3E%3C/svg%3E");
  }
}

.layout-region-node-secondary {
  h2 {
    padding-inline: 16px;
  }
}
