/**
 * @file
 * Call to action styles.
 */

.call-to-action__container {
  align-items: center;
  background-color: var(--gray-100);
  border-radius: var(--radius-3);
  border-width: 1px;
  box-shadow: var(--shadow-1);
  display: grid;
  padding-block: var(--size-8);
  padding-inline: var(--size-8);

  /* Lighten the background color for title container so it is more readable
  when the Santa Barbara Sand background color is present. */
  .bg-santa-barbara-sand.layout--onecol & {
    background-color: var(--gray-50);
  }

  @media (--tablet) {
    gap: var(--size-10);
    grid-template-columns: repeat(2, 1fr);
  }

  .button {
    justify-self: start;

    @media (--tablet) {
      justify-self: end;
    }
  }
}

.call-to-action__title {
  color: var(--gray-900);
  font-family: var(--font-heading);
  font-size: var(--font-size-6);
}
