/**
 * @file
 * Icon styles.
 */

.icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .icon--image {
    aspect-ratio: var(--ratio-box);
    border-color: var(--ucla-blue);
    color: var(--ucla-blue);
    display: grid;
    font-size: var(--font-size-10);
    inline-size: 96px;
    padding-block: var(--size-6);
    place-content: center;
  }
}

.icon__link {
  border-bottom: 2px solid transparent;
  color: var(--ucla-blue);
  font-family: var(--font-heading);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-500);
  text-align: center;

  &:hover {
    border-bottom: 2px solid var(--silver-lake-reservoir);
    color: var(--silver-lake-reservoir);
  }

  &:focus {
    box-shadow: 0 0 var(--white), 0 0 0 2px var(--ucla-blue), 0 0 var(--white);
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  /* When Venice Canal background color is present, the icon's link and underline
  color changes to white. */
  .bg-venice-canal.layout--onecol & {
    color: var(--white);

    &:hover {
      border-bottom-color: var(--white);
    }
  }

  /* When Santa Barbara Sand background color is present, the icon's link
  and underline color changes to white. */
  .bg-santa-barbara-sand.layout--onecol & {
    color: var(--midnight-observatory);

    &:hover {
      border-bottom-color: var(--midnight-observatory);
    }
  }
}

.icon__teaser {
  font-size: var(--font-size-2);
  margin-block-start: var(--size-3);
  max-inline-size: 30ch;
  text-align: center;

  /* When Venice Canal background color is present, the teaser text color
  changes to white. */
  .bg-venice-canal.layout--onecol & {
    color: var(--white);
  }

  /* When Santa Barbara Sand background color is present, the teaser text color
  changes to white. */
  .bg-santa-barbara-sand.layout--onecol & {
    color: var(--midnight-observatory);
  }
}

/* Material Icon Colors */
.icon--image {
  [class*="radius-"] & {
    border-width: var(--border-size-3);
  }

  .border-ucla-blue & {
    border-color: var(--ucla-blue);
    color: var(--ucla-blue);
  }

  .border-midnight-joshua-tree & {
    border-color: var(--midnight-joshua-tree);
    color: var(--midnight-joshua-tree);
  }

  .border-silver-lake-reservoir & {
    border-color: var(--silver-lake-reservoir);
    color: var(--silver-lake-reservoir);
  }

  .border-southbay-waves & {
    border-color: var(--southbay-waves);
    color: var(--southbay-waves);
  }

  .border-venice-canal & {
    border-color: var(--venice-canal);
    color: var(--venice-canal);
  }

  .border-midnight-observatory & {
    border-color: var(--midnight-observatory);
    color: var(--midnight-observatory);
  }

  .border-malibu-dolphin & {
    border-color: var(--malibu-dolphin);
    color: var(--malibu-dolphin);
  }

  .radius-square & {
    border-radius: var(--border-size-3);
  }

  .radius-round & {
    border-radius: var(--radius-round);
  }

  /* All the color variations above are ignored and instead the border color
  and icon color changes to white when Venice Canal background color is present. */
  .bg-venice-canal.layout--onecol & {
    border-color: var(--white);
    color: var(--white);
  }

  /* All the color variations above are ignored and instead the border color
  and icon color changes to `#00273D` when Santa Barbara Sand  background color
  is present. */
  .bg-santa-barbara-sand.layout--onecol & {
    border-color: var(--midnight-observatory);
    color: var(--midnight-observatory);
  }
}

.radius-round,
.radius-square {
  .icon--image ~ .icon__link {
    margin-block-start: var(--size-4);
  }
}
