/**
 * @file
 * Page header styles.
 *
 */

:where([data-theme="surface"]) {
  --page-header-overlay: linear-gradient(90deg, var(--surface-blue), rgba(40, 116, 175, 90%) 5%, rgba(40, 116, 175, 60%) 35%, rgba(40, 116, 175, 20%) 50%, rgba(40, 116, 175, 20%) 70%, rgba(40, 116, 175, 90%) 95%, var(--surface-blue));
}

:where([data-theme="dgsom"]) {
  --page-header-bg-color: var(--midnight-joshua-tree);
  --page-header-text-shadow: var(--surface-blue);
  --page-header-overlay: linear-gradient(90deg, var(--midnight-joshua-tree), rgba(0, 58, 92, 90%) 5%, rgba(0, 58, 92, 60%) 35%, rgba(0, 58, 92, 20%) 50%, rgba(0, 58, 92, 20%) 70%, rgba(0, 58, 92, 90%) 95%, var(--midnight-joshua-tree));
}

:where([data-theme="labs"]) {
  --page-header-overlay: linear-gradient(90deg, var(--surface-blue), rgba(40, 116, 175, 90%) 5%, rgba(40, 116, 175, 60%) 35%, rgba(40, 116, 175, 20%) 50%, rgba(40, 116, 175, 20%) 70%, rgba(40, 116, 175, 90%) 95%, var(--surface-blue));
}

:where([data-theme="labs-dynamic"]) {
  --page-header-bg-color: var(--midnight-joshua-tree);
  --page-header-text-shadow: var(--surface-blue);
  --page-header-overlay: linear-gradient(90deg, var(--midnight-joshua-tree), rgba(0, 58, 92, 90%) 5%, rgba(0, 58, 92, 60%) 35%, rgba(0, 58, 92, 20%) 50%, rgba(0, 58, 92, 20%) 70%, rgba(0, 58, 92, 90%) 95%, var(--midnight-joshua-tree));
}

.page-header {
  background-color: var(--page-header-bg-color, var(--surface-blue));
  color: var(--white);

  .container {
    height: 100%;
    position: relative;
  }
}

.page-header__content {
  padding-block: var(--size-8);
  position: relative;
  z-index: var(--layer-10);

  @media (--tablet) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  :where(.article--full, .event--full) & {
    padding-block-end: var(--size-24);
  }

  .breadcrumb__item,
  .breadcrumb__link {
    color: var(--white);
  }
}

.page-header__text {
  width: 100%;

  @media (--tablet) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }

  h1 {
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-400);
    margin-block-start: var(--size-8);

    @media (--laptop) {
      font-size: var(--font-size-10);
      line-height: var(--leading-none);
      text-shadow: var(--page-header-text-shadow, var(--silver-lake-reservoir)) 0 0 0.5rem;
    }
  }

  p {
    font-family: var(--font-body);
    font-size: var(--font-size-3);
    margin-block-start: var(--size-2);

    @media (--laptop) {
      font-size: var(--font-size-5);
    }
  }
}

/* Page header short */
.page-header--short {
  .page-header__content {
    padding-block-end: var(--size-8);
  }
}

/* Page header banner */
.page-header--banner {
  padding-block-end: var(--size-6);

  @media (--tablet) {
    height: 22rem;
    padding-block-end: 0;
  }

  @media (--laptop) {
    height: 33rem;
  }

  .page-header__text {
    @media (--tablet) {
      width: 75%;
    }

    @media (--laptop) {
      width: 50%;
    }

    h1 {
      font-size: var(--font-size-8);

      @media (--laptop) {
        font-size: var(--font-size-11);
      }
    }

    p {
      @media (--laptop) {
        font-size: var(--font-size-7);
      }
    }
  }

  .page-header__media {
    @media (--tablet) {
      height: 100%;
      inset: 0;
      overflow: hidden;
      position: absolute;
    }

    .media {
      @media (--tablet) {
        height: 100%;
        inset: 0;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      img {
        aspect-ratio: var(--ratio-widescreen);
        width: 100%;
      }
    }
  }

  .page-header__overlay {
    @media (--tablet) {
      background: var(--page-header-overlay);
      height: 100%;
      inset: 0;
      position: absolute;
    }
  }
}
