/**
 * @file
 * Carousel styles.
 */

:where([data-theme="dgsom"]) {
  --padding-block-start: 0;
}

:where([data-theme="labs-dynamic"]) {
  --padding-block-start: 0;
}

.carousel__images {
  margin-block-end: var(--size-4);

  @media (--tablet) {
    height: 100%;
    margin-block-end: 0;
    max-height: 425px;
    overflow: hidden;
    position: relative;
  }

  @media (--laptop) {
    max-height: 617px;
  }

  img {
    aspect-ratio: var(--ratio-cinemascope);
    object-fit: cover;
    width: 100%;
  }
}

.carousel__overlay {
  @media (--tablet) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 60%) 0%, rgba(0, 0, 0, 0%) 65%);
    height: 100%;
    inset: 0;
    position: absolute;
  }
}

.carousel__top {
  width: 100%;

  @media (--tablet) {
    left: 50%;
    position: absolute;
    top: 50px;
    transform: translate(-50%);
    width: 80%;
  }

  @media (--laptop) {
    top: 100px;
  }

  .is-full-width & {
    margin-inline: var(--size-4);

    @media (--tablet) {
      margin-inline: auto;
      max-inline-size: calc(var(--size-tablet) - var(--size-4) * 2);
      width: 100%;
    }

    @media (--laptop) {
      max-inline-size: calc(var(--size-laptop) - var(--size-4) * 2);
    }

    @media (--desktop) {
      max-inline-size: calc(var(--size-container) - var(--size-8) * 2);
    }
  }
}

.carousel__body {
  @media (--laptop) {
    width: 85ch;
  }
}

.carousel__bottom {
  background-color: var(--surface-blue);
  color: var(--white);
  margin-inline: auto;
  padding-block: var(--size-8);
  padding-inline: var(--size-8);
  position: relative;

  /* If Venice Canal background color is present, the teaser text container changes
  background color and text color changes to `#00273D`. */
  .bg-venice-canal.layout--onecol & {
    background-color: var(--white);
    color: var(--midnight-observatory);
  }

  @media (--tablet) {
    top: -60px;
    width: 80%;
  }

  .is-full-width & {
    margin-inline: var(--size-4);

    @media (--tablet) {
      margin-inline: auto;
      max-inline-size: calc(var(--size-tablet) - var(--size-4) * 2);
      width: 100%;
    }

    @media (--laptop) {
      max-inline-size: calc(var(--size-laptop) - var(--size-4) * 2);
    }

    @media (--desktop) {
      max-inline-size: calc(var(--size-container) - var(--size-8) * 2);
    }
  }
}

.carousel__title {
  margin-block-end: var(--size-5);

  span {
    color: var(--surface-blue);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-600);
    text-transform: uppercase;

    @media (--tablet) {
      background-color: var(--surface-blue);
      box-decoration-break: clone;
      color: var(--white);
      display: inline;
      font-size: var(--font-size-8);
      padding-block-start: var(--padding-block-start, var(--size-05));
      padding-inline: var(--size-4);
      word-break: break-word;

      .pl & {
        padding-block-start: var(--padding-block-start, var(--size-105));
      }
    }

    @media (--laptop) {
      font-size: var(--font-size-9);
    }
  }
}

.carousel__text {
  font-size: var(--font-size-2);
  line-height: var(--leading-relaxed);

  @media (--tablet) {
    font-size: var(--font-size-3);
  }

  @media (--laptop) {
    font-size: var(--font-size-4);
  }
}
