{{ attach_library('surface/site-header') }}

<header id="header" class="site-header" data-drupal-selector="site-header" role="banner" data-once="navigation">
  {% block alert %}
    {% include '@elements/site-alert/site-alert.twig' %}
  {% endblock %}

  <section class="site-secondary">
    <div class="container">
      <div class="site-secondary__content">
        {% block secondary %}
          {% include '@components/menu-secondary/menu-secondary.twig' with {
            'menu_name': 'secondary',
            'items': secondary_menu
          } %}
        {% endblock %}

        <div class="site-secondary__buttons">
          {% block buttons %}
            {% include '@elements/button-give/button-give.twig' %}
            {% include '@elements/translate/translate.twig' %}
            {% include '@elements/button-search/button-search.twig' %}
          {% endblock %}
        </div>
      </div>
    </div>
  </section>

  <section class="site-primary">
    <div class="container">
      <div class="site-primary__content">
        {% block branding %}
          {% include '@elements/site-branding/site-branding.twig' with {
            'logo': logo
          } only %}
        {% endblock %}

        {% block primary %}
          {% include '@elements/mobile-button/mobile-button.twig' %}
          {% embed '@layouts/site-navigation/site-navigation.twig' %}
            {% block menu %}
              {% include '@components/menu-main/menu-main.twig' with {
                'data_menu': 'default',
                'items': main_menu
              } only %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      </div>
    </div>
  </section>

  {% block search %}
    {% include '@layouts/site-search/site-search.twig' %}
  {% endblock %}
</header>
