{{ attach_library('surface/site-search') }}

<section class="site-search{{ data_search == 'modal' ? ' site-search--modal' }}{{- attributes ? ' ' ~ attributes.class -}}" data-drupal-selector="site-search" id="site-search" role="search">
  <div class="container">

    {% if data_search == "default" %}
      <div class="site-search__close">
        <button class="button button--square button--outline" aria-label="Search close" type="button" role="button" data-drupal-selector="search-close">
          <span class="visually-hidden" aria-label="Close Overlay" aria-hidden="false"></span>
          <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 352 512">
            <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
          </svg>
        </button>
      </div>

      <div class="site-search__heading">
        <h2>Search</h2>
		    <span>Try looking up an academic program, research topic, or information about life at UCLA.</span>
      </div>
    {% endif %}

    <div class="site-search__content">
      {% block content %}
        {% include '@components/search-block-form/search-block-form.twig' %}
      {% endblock %}
    </div>

    {% if data_search == "modal" and has_quicklinks %}
      <div class="site-search__links">
        <h3>Quick Links</h3>
        {% block quicklinks %}
          {% include '@components/menu-quicklinks/menu-quicklinks.twig' with {
            'items': quicklinks_menu
          } %}
        {% endblock %}
      </div>
    {% endif %}
  </div>
</section>
