/**
 * @file
 * Byline styles.
 */

.byline {
  color: var(--gray-500);
  font-size: var(--font-size-0);
  margin-block-end: var(--size-1);

  svg {
    color: inherit;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -0.125em;
    width: 1em;
  }

  span {
    color: var(--gray-500);
    display: inline-block;
    font-size: var(--font-size-0);
    line-height: var(--leading-tight);
    margin-inline-start: var(--size-1);
  }
}
