<nav class="nav sb-demo" aria-labelledby="block-sidebar-navigation" role="navigation">
  <div class="nav__title" id="block-sidebar-navigation"><a href="/about">About</a></div>
    <ul class="menu-sidebar" data-drupal-selector="menu-sidebar--level-1" data-once="surfaceSidebarInit">
      <li class="menu__item menu__item--link menu__item--level-1  menu__item--has-children" data-drupal-selector="menu__item--has-children">
        <a href="/about/culture-and-mission" class="menu__link menu__link--link menu__link--level-1  menu__link--has-children" data-drupal-selector="menu__link--has-children" data-drupal-link-system-path="node/7801"><span class="menu__link-inner menu__link-inner--level-1">Culture and Mission</span></a>
        <button class="sidebar-toggle" data-drupal-selector="sidebar-toggle" aria-controls="menu-item-1" aria-expanded="false" data-once="surfaceSidebarToggle">
          <span class="visually-hidden">Culture and Mission sub-navigation</span>
          <span class="icon"></span>
        </button>
      <ul class="menu-sidebar menu-sidebar--level-2" id="menu-item-1" data-drupal-selector="menu-sidebar--level-2">
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="/about/culture-and-mission/cultural-north-star" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/4701"><span class="menu__link-inner menu__link-inner--level-2">Cultural North Star</span></a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="/about/culture-and-mission/mission-and-vision" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/7841"><span class="menu__link-inner menu__link-inner--level-2">Mission and Vision</span>
          </a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="https://medschool.ucla.edu/reporting-and-support-resources" class="menu__link menu__link--link menu__link--level-2"><span class="menu__link-inner menu__link-inner--level-2">Reporting and Support Resources</span>
          </a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/about/culture-and-mission/strategic-plan" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children" data-drupal-link-system-path="node/7821"><span class="menu__link-inner menu__link-inner--level-2">Strategic Plan</span></a>
          <button class="sidebar-toggle" data-drupal-selector="sidebar-toggle" aria-controls="menu-item-11234" aria-expanded="false" data-once="surfaceSidebarToggle">
            <span class="visually-hidden">Strategic Plan sub-navigation</span>
            <span class="icon"></span>
        </button>
      <ul class="menu-sidebar menu-sidebar--level-3" id="menu-item-11234">
        <li class="menu__item menu__item--link menu__item--level-3">
          <a href="/about/culture-and-mission/strategic-plan/clinical-care-mission-pillar" class="menu__link menu__link--link menu__link--level-3" data-drupal-link-system-path="node/7816"><span class="menu__link-inner menu__link-inner--level-3">Clinical Care Pillar</span>
          </a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-3">
          <a href="/about/culture-and-mission/strategic-plan/community-engagement-mission-pillar" class="menu__link menu__link--link menu__link--level-3" data-drupal-link-system-path="node/7836"><span class="menu__link-inner menu__link-inner--level-3">Community Engagement Pillar</span>
          </a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-3">
          <a href="/about/culture-and-mission/strategic-plan/education-mission-pillar" class="menu__link menu__link--link menu__link--level-3" data-drupal-link-system-path="node/7826"><span class="menu__link-inner menu__link-inner--level-3">Education Pillar</span>
          </a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-3">
          <a href="/about/culture-and-mission/strategic-plan/research-mission-pillar" class="menu__link menu__link--link menu__link--level-3" data-drupal-link-system-path="node/7831"><span class="menu__link-inner menu__link-inner--level-3">Research Pillar</span>
          </a>
        </li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="/about/culture-and-mission/why-choose-ucla" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/7846"><span class="menu__link-inner menu__link-inner--level-2">Why Choose UCLA?</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu__item menu__item--link menu__item--level-1  menu__item--has-children" data-drupal-selector="menu__item--has-children">
      <a href="/about/history-and-awards" class="menu__link menu__link--link menu__link--level-1  menu__link--has-children" data-drupal-selector="menu__link--has-children" data-drupal-link-system-path="node/7586"><span class="menu__link-inner menu__link-inner--level-1">History and Awards</span></a>
      <button class="sidebar-toggle" data-drupal-selector="sidebar-toggle" aria-controls="menu-item-12" aria-expanded="false" data-once="surfaceSidebarToggle">
        <span class="visually-hidden">History and Awards sub-navigation</span>
        <span class="icon"></span>
      </button>
      <ul class="menu-sidebar menu-sidebar--level-2" id="menu-item-12" data-drupal-selector="menu-sidebar--level-2">
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="/about/history-and-awards/accreditation-and-rankings" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/7591"><span class="menu__link-inner menu__link-inner--level-2">Accreditation and Rankings</span>
          </a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="/about/history-and-awards/awards-for-education" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/7601"><span class="menu__link-inner menu__link-inner--level-2">Awards for Education</span>
          </a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="/about/history-and-awards/faculty-achievements-celebration" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/8671"><span class="menu__link-inner menu__link-inner--level-2">Faculty Achievements Celebration</span>
          </a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="/about/history-and-awards/leonard-tow-humanism-in-medicine-award" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/14086"><span class="menu__link-inner menu__link-inner--level-2">Leonard Tow Humanism in Medicine Award</span>
          </a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="/about/history-and-awards/mellinkoff-award" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/3051"><span class="menu__link-inner menu__link-inner--level-2">Mellinkoff Award</span>
          </a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="/about/history-and-awards/the-switzer-prize" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/5696"><span class="menu__link-inner menu__link-inner--level-2">The Switzer Prize</span>
          </a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="https://dgsom70.ucla.edu/timeline/" class="menu__link menu__link--link menu__link--level-2" target="_blank" rel="noopener noreferrer"><span class="menu__link-inner menu__link-inner--level-2">Timeline</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu__item menu__item--link menu__item--level-1  menu__item--has-children" data-drupal-selector="menu__item--has-children">
      <a href="/about/leadership" class="menu__link menu__link--link menu__link--level-1  menu__link--has-children" data-drupal-selector="menu__link--has-children" data-drupal-link-system-path="node/7616"><span class="menu__link-inner menu__link-inner--level-1">Leadership</span></a>
      <button class="sidebar-toggle" data-drupal-selector="sidebar-toggle" aria-controls="menu-item-123" aria-expanded="false" data-once="surfaceSidebarToggle">
        <span class="visually-hidden">Leadership sub-navigation</span>
        <span class="icon"></span>
      </button>
      <ul class="menu-sidebar menu-sidebar--level-2" id="menu-item-123" data-drupal-selector="menu-sidebar--level-2">
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/about/leadership/direct-from-the-dean" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children" data-drupal-link-system-path="node/2656"><span class="menu__link-inner menu__link-inner--level-2">Direct from the Dean</span>
          </a>
          <button class="sidebar-toggle" data-drupal-selector="sidebar-toggle" aria-controls="menu-item-1231" aria-expanded="false" data-once="surfaceSidebarToggle">
            <span class="visually-hidden">Direct from the Dean sub-navigation</span>
            <span class="icon"></span>
          </button>
          <ul class="menu-sidebar menu-sidebar--level-3" id="menu-item-1231">
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/about/leadership/direct-from-the-dean/2022-annual-reflection" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children" data-drupal-link-system-path="node/11836"><span class="menu__link-inner menu__link-inner--level-3">2022: Annual Reflection</span></a>
              <button class="sidebar-toggle" data-drupal-selector="sidebar-toggle" aria-controls="menu-item-12311" aria-expanded="false" data-once="surfaceSidebarToggle">
                <span class="visually-hidden">2022: Annual Reflection sub-navigation</span>
                <span class="icon"></span>
              </button>
              <ul class="menu-sidebar menu-sidebar--level-4" id="menu-item-12311">
                <li class="menu__item menu__item--link menu__item--level-4">
                  <a href="/about/leadership/direct-from-the-dean/2022-annual-reflection/clinical-innovation-highlights" class="menu__link menu__link--link menu__link--level-4" data-drupal-link-system-path="node/10266"><span class="menu__link-inner menu__link-inner--level-4">Clinical Innovation Highlights</span></a>
              </li>
              <li class="menu__item menu__item--link menu__item--level-4">
                <a href="/about/leadership/direct-from-the-dean/2022-annual-reflection/community-engagement" class="menu__link menu__link--link menu__link--level-4" data-drupal-link-system-path="node/10281"><span class="menu__link-inner menu__link-inner--level-4">Community Engagement</span></a>
            </li>
            <li class="menu__item menu__item--link menu__item--level-4">
              <a href="/about/leadership/direct-from-the-dean/2022-annual-reflection/education" class="menu__link menu__link--link menu__link--level-4" data-drupal-link-system-path="node/10256"><span class="menu__link-inner menu__link-inner--level-4">Education</span></a>
            </li>
            <li class="menu__item menu__item--link menu__item--level-4">
              <a href="/about/leadership/direct-from-the-dean/2022-annual-reflection/entrepreneurship-and-moving-discoveries-to-products" class="menu__link menu__link--link menu__link--level-4" data-drupal-link-system-path="node/10261"><span class="menu__link-inner menu__link-inner--level-4">Entrepreneurship and Moving Discoveries to Products</span></a>
            </li>
            <li class="menu__item menu__item--link menu__item--level-4">
              <a href="/about/leadership/direct-from-the-dean/2022-annual-reflection/events" class="menu__link menu__link--link menu__link--level-4" data-drupal-link-system-path="node/10286"><span class="menu__link-inner menu__link-inner--level-4">Events</span></a>
            </li>
            <li class="menu__item menu__item--link menu__item--level-4">
              <a href="/about/leadership/direct-from-the-dean/2022-annual-reflection/justice-equity-diversity-and-inclusion" class="menu__link menu__link--link menu__link--level-4" data-drupal-link-system-path="node/10251"><span class="menu__link-inner menu__link-inner--level-4">Justice, Equity, Diversity, and Inclusion</span></a>
            </li>
            <li class="menu__item menu__item--link menu__item--level-4">
              <a href="/about/leadership/direct-from-the-dean/2022-annual-reflection/philanthropy" class="menu__link menu__link--link menu__link--level-4" data-drupal-link-system-path="node/10371"><span class="menu__link-inner menu__link-inner--level-4">Philanthropy</span></a>
            </li>
            <li class="menu__item menu__item--link menu__item--level-4">
              <a href="/about/leadership/direct-from-the-dean/2022-annual-reflection/research" class="menu__link menu__link--link menu__link--level-4" data-drupal-link-system-path="node/10271"><span class="menu__link-inner menu__link-inner--level-4">Research</span></a>
            </li>
            <li class="menu__item menu__item--link menu__item--level-4">
              <a href="/about/leadership/direct-from-the-dean/2022-annual-reflection/unified-research-themes" class="menu__link menu__link--link menu__link--level-4" data-drupal-link-system-path="node/10276"><span class="menu__link-inner menu__link-inner--level-4">Unified Research Themes</span></a>
            </li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-3">
          <a href="/about/leadership/direct-from-the-dean/flexwork-at-dgsom" class="menu__link menu__link--link menu__link--level-3" data-drupal-link-system-path="node/7746"><span class="menu__link-inner menu__link-inner--level-3">Flexwork at DGSOM</span></a>
        </li>
      </ul>
    </li>
    <li class="menu__item menu__item--link menu__item--level-2">
      <a href="/about/leadership/academic-leadership" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/7636"><span class="menu__link-inner menu__link-inner--level-2">Academic Leadership</span></a>
    </li>
    <li class="menu__item menu__item--link menu__item--level-2">
      <a href="/about/leadership/education-leadership" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/7626"><span class="menu__link-inner menu__link-inner--level-2">Education Leadership</span></a>
    </li>
    <li class="menu__item menu__item--link menu__item--level-2">
      <a href="/about/leadership/jedi-leadership" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/7646"><span class="menu__link-inner menu__link-inner--level-2">JEDI Leadership</span></a>
    </li>
    <li class="menu__item menu__item--link menu__item--level-2">
      <a href="/about/leadership/research-leadership" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/7651"><span class="menu__link-inner menu__link-inner--level-2">Research Leadership</span></a>
    </li>
    <li class="menu__item menu__item--link menu__item--level-2">
      <a href="/about/leadership/shared-services-and-affiliates" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/7656"><span class="menu__link-inner menu__link-inner--level-2">Shared Services and Affiliates</span></a>
    </li>
  </ul>
  </li>
  <li class="menu__item menu__item--link menu__item--level-1  menu__item--has-children" data-drupal-selector="menu__item--has-children">
    <a href="/about/plan-your-visit" class="menu__link menu__link--link menu__link--level-1  menu__link--has-children" data-drupal-selector="menu__link--has-children" data-drupal-link-system-path="node/7791"><span class="menu__link-inner menu__link-inner--level-1">Plan Your Visit</span></a>
    <button class="sidebar-toggle" data-drupal-selector="sidebar-toggle" aria-controls="menu-item-1234" aria-expanded="false" data-once="surfaceSidebarToggle">
      <span class="visually-hidden">Plan Your Visit sub-navigation</span>
      <span class="icon"></span>
    </button>
    <ul class="menu-sidebar menu-sidebar--level-2" id="menu-item-1234" data-drupal-selector="menu-sidebar--level-2">
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="/about/plan-your-visit/covid-19-information" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/2356"><span class="menu__link-inner menu__link-inner--level-2">COVID-19 Information</span></a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="/about/plan-your-visit/contact-and-directions" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/7796"><span class="menu__link-inner menu__link-inner--level-2">Contact and Directions</span></a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/departments/administrative/emergencies" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children" data-drupal-link-system-path="node/3056"><span class="menu__link-inner menu__link-inner--level-2">Emergencies</span></a>
          <button class="sidebar-toggle" data-drupal-selector="sidebar-toggle" aria-controls="menu-item-1234123" aria-expanded="false" data-once="surfaceSidebarToggle">
            <span class="visually-hidden">Emergencies sub-navigation</span>
            <span class="icon"></span>
          </button>
          <ul class="menu-sidebar menu-sidebar--level-3" id="menu-item-1234123">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/plan-your-visit/emergencies/emergency-contacts" class="menu__link menu__link--link menu__link--level-3" data-drupal-link-system-path="node/3071"><span class="menu__link-inner menu__link-inner--level-3">Emergency Contacts</span></a>
            </li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/plan-your-visit/emergencies/emergency-faq" class="menu__link menu__link--link menu__link--level-3" data-drupal-link-system-path="node/3081"><span class="menu__link-inner menu__link-inner--level-3">Emergency FAQ</span></a>
            </li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/plan-your-visit/emergencies/emergency-resources" class="menu__link menu__link--link menu__link--level-3" data-drupal-link-system-path="node/3076"><span class="menu__link-inner menu__link-inner--level-3">Emergency Resources</span></a>
            </li>
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/about/plan-your-visit/emergencies/incidents-a-z" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children" data-drupal-link-system-path="node/5941"><span class="menu__link-inner menu__link-inner--level-3">Incidents</span></a>
              <button class="sidebar-toggle" data-drupal-selector="sidebar-toggle" aria-controls="menu-item-12341231234" aria-expanded="false" data-once="surfaceSidebarToggle">
                <span class="visually-hidden">Incidents sub-navigation</span>
                <span class="icon"></span>
              </button>
              <ul class="menu-sidebar menu-sidebar--level-4" id="menu-item-12341231234">
                <li class="menu__item menu__item--link menu__item--level-4  menu__item--has-children">
                  <a href="/about/plan-your-visit/emergencies/incidents/environmental-disasters" class="menu__link menu__link--link menu__link--level-4  menu__link--has-children" data-drupal-link-system-path="node/6136"><span class="menu__link-inner menu__link-inner--level-4">Environmental Disasters</span></a>
                </li>
                <li class="menu__item menu__item--link menu__item--level-4  menu__item--has-children">
                  <a href="/about/plan-your-visit/emergencies/incidents/laboratory-incidents" class="menu__link menu__link--link menu__link--level-4  menu__link--has-children" data-drupal-link-system-path="node/5946"><span class="menu__link-inner menu__link-inner--level-4">Laboratory Incidents</span></a>
                </li>
                <li class="menu__item menu__item--link menu__item--level-4  menu__item--has-children">
                  <a href="/about/plan-your-visit/emergencies/incidents/facilities-technology" class="menu__link menu__link--link menu__link--level-4  menu__link--has-children" data-drupal-link-system-path="node/6151"><span class="menu__link-inner menu__link-inner--level-4">Facilities &amp; Technology</span></a>
                </li>
                <li class="menu__item menu__item--link menu__item--level-4  menu__item--has-children">
                  <a href="/about/plan-your-visit/emergencies/incidents/health" class="menu__link menu__link--link menu__link--level-4  menu__link--has-children" data-drupal-link-system-path="node/6146"><span class="menu__link-inner menu__link-inner--level-4">Health</span></a>
                </li>
                <li class="menu__item menu__item--link menu__item--level-4  menu__item--has-children">
                  <a href="/about/plan-your-visit/emergencies/incidents/threats" class="menu__link menu__link--link menu__link--level-4  menu__link--has-children" data-drupal-link-system-path="node/6141"><span class="menu__link-inner menu__link-inner--level-4">Threats</span></a>
                </li>
                <li class="menu__item menu__item--link menu__item--level-4  menu__item--has-children">
                  <a href="/about/plan-your-visit/emergencies/incidents-a-z" class="menu__link menu__link--link menu__link--level-4  menu__link--has-children" data-drupal-link-system-path="node/5941"><span class="menu__link-inner menu__link-inner--level-4">Incidents A-Z</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="/about/plan-your-visit/virtual-tours" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/7806"><span class="menu__link-inner menu__link-inner--level-2">Virtual Tours</span></a>
        </li>
      </ul>
    </li>
    <li class="menu__item menu__item--link menu__item--level-1 menu__item--active-trail menu__item--has-children" data-drupal-selector="menu__item--has-children">
      <a href="/about/news" class="menu__link menu__link--link menu__link--level-1 menu__link--active-trail menu__link--has-children is-active" data-drupal-selector="menu__link--has-children" data-drupal-link-system-path="node/7676"><span class="menu__link-inner menu__link-inner--level-1">News</span></a>
      <button class="sidebar-toggle" data-drupal-selector="sidebar-toggle" aria-controls="menu-item-12345" aria-expanded="true" data-once="surfaceSidebarToggle">
        <span class="visually-hidden">News sub-navigation</span>
        <span class="icon"></span>
      </button>
      <ul class="menu-sidebar menu-sidebar--level-2 is-active-menu-parent" id="menu-item-12345" data-drupal-selector="menu-sidebar--level-2">
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="/about/news/dgsom-digest" class="menu__link menu__link--link menu__link--level-2" data-drupal-link-system-path="node/13416"><span class="menu__link-inner menu__link-inner--level-2">DGSOM Digest</span></a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/about/news/social-media" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children" data-drupal-link-system-path="node/7721"><span class="menu__link-inner menu__link-inner--level-2">Social Media</span></a>
          <button class="sidebar-toggle" data-drupal-selector="sidebar-toggle" aria-controls="menu-item-1234512" aria-expanded="false" data-once="surfaceSidebarToggle">
            <span class="visually-hidden">Social Media sub-navigation</span>
            <span class="icon"></span>
          </button>
          <ul class="menu-sidebar menu-sidebar--level-3" id="menu-item-1234512">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/news/social-media/social-media-policies-and-resources" class="menu__link menu__link--link menu__link--level-3" data-drupal-link-system-path="node/7726"><span class="menu__link-inner menu__link-inner--level-3">Social Media Policies and Resources</span></a>
            </li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="https://www.uclahealth.org/news" class="menu__link menu__link--link menu__link--level-2" target="_blank" rel="noopener noreferrer"><span class="menu__link-inner menu__link-inner--level-2">UCLA Health News</span></a>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2">
          <a href="https://newsroom.ucla.edu/" class="menu__link menu__link--link menu__link--level-2" target="_blank" rel="noopener noreferrer"> <span class="menu__link-inner menu__link-inner--level-2">UCLA Newsroom</span></a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
