{{ attach_library('surface/site-footer') }}

<footer class="site-footer">
  <div class="container">
    <div class="site-footer__content grid">
      <div class="site-footer__branding">
        {% block branding %}
          {% include '@elements/site-branding/site-branding.twig' with {
            'modifier': 'site-branding--footer site-branding--extended',
            'logo': './images/logo-inverse.svg'
          } %}

          {% include '@components/menu-social/menu-social.twig' with {
            'facebook_url': '#',
            'x_url': '#',
            'instagram_url': '#',
            'youtube_url': '#',
            'linkedin_url': '#',
          } only
          %}

          {% include '@elements/site-credit/site-credit.twig' with {
            'site_credit': '<p>Geffen Hall<br>885 Tiverton Drive<br>Los Angeles, CA 90095</p>'
          } %}
        {% endblock %}
      </div>

      <div class="site-footer__menu">
        {% block menu %}
          {% embed '@layouts/nav/nav.twig' %}
            {% block content %}
              {% include '@components/menu-footer/menu-footer.twig' with {
                'menu_name': 'footer',
                'items': items,
              } %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      </div>
    </div>
    <div class="site-footer__utility grid">
      {% include '@elements/copyright/copyright.twig' %}
      {% include '@components/menu-utility/menu-utility.twig' %}
    </div>

    {% if site_extra %}
      <div class="site-footer__extra prose">
        {{ site_extra|raw }}
      </div>
    {% endif %}
  </div>
</footer>
