{# This static menu is for Storybook demo purposes only. #}
<nav id="site-navigation" class="site-navigation" data-drupal-selector="site-navigation" data-once="surfaceMenuInit">
  <div class="site-navigation-container">
    <ul class="menu-main menu-main--mega menu-main--level-1" data-type="mega" data-drupal-selector="menu-main--level-1">
      <li class="menu__item menu__item--link menu__item--level-1 menu__item--has-children" data-drupal-selector="menu__item--has-children">
        <a href="/education" class="menu__link menu__link--link menu__link--level-1  menu__link--has-children" data-drupal-selector="menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-1">Education</span>
        </a>
        <button class="menu-toggle" data-drupal-selector="menu-toggle" aria-controls="menu-main-item-1" aria-expanded="false">
          <span class="visually-hidden">Education sub-navigation</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
            <path fill="currentColor" d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
        </button>
        <ul class="menu-main menu-main--level-2" id="menu-main-item-1" data-drupal-selector="menu-main--level-2">
          <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
            <a href="/education/pre-med-pre-health-opportunities" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Pre-Med &amp; Pre-Health Opportunities</span></a>
              <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
                <li class="menu__item menu__item--link menu__item--level-3">
                  <a href="/education/pre-med-pre-health-opportunities/pre-med-pre-health-guidance-center" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Pre-Med &amp; Pre-Health Guidance Center</span></a></li>
                <li class="menu__item menu__item--link menu__item--level-3">
                  <a href="/education/pre-med-pre-health-opportunities/ucla-pre-medical-enrichment-program" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Pre-Medical Enrichment Program</span></a></li>
                <li class="menu__item menu__item--link menu__item--level-3">
                  <a href="/education/pre-med-pre-health-opportunities/ucla-re-application-program" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Re-Application Program</span></a></li>
                <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                  <a href="/education/pre-med-pre-health-opportunities/summer-health-professions-education-program-shpep" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Summer Health Professions Education Program</span></a></li>
                <li class="menu__item menu__item--link menu__item--level-3">
                  <a href="/education/pre-med-pre-health-opportunities/ucla-wide-opportunities" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">UCLA-wide Opportunities</span></a></li>
                <li class="menu__item menu__item--link menu__item--level-3">
                  <a href="/education/pre-med-pre-health-opportunities/program-alumni" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Program Alumni</span></a></li>
                <li class="menu__item menu__item--link menu__item--level-3">
                  <a href="/education/pre-med-pre-health-opportunities/connect-with-us" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Connect With Us</span></a></li>
                <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                  <a href="#" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">UIM Center of Excellence</span></a></li>
                </ul>
          </li>
          <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
              <a href="/education/md-education" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">MD Education</span></a>
                <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
                  <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                    <a href="#" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Admissions</span></a></li>
                  <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                    <a href="/education/md-education/career-development" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Career Development</span></a></li>
                  <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                    <a href="/education/md-education/curriculum" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Curriculum</span></a></li>
                  <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                    <a href="/education/md-education/current-students" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Current Students</span></a></li>
                  <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                    <a href="/education/md-education/degrees-and-programs" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Degrees and Programs</span></a></li>
                  <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                    <a href="/education/md-education/financial-aid-and-scholarships" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Financial Aid and Scholarships</span></a></li>
                  <li class="menu__item menu__item--link menu__item--level-3">
                    <a href="/education/md-education/research-opportunities" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Research Opportunities</span></a></li>
                  <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                    <a href="/education/md-education/student-life-and-events" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Student Life and Events</span></a></li>
                  <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                    <a href="/education/md-education/visiting-students" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Visiting Students</span></a></li>
                </ul>
              </li>
              <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
                <a href="/education/residencies-and-fellowships" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Residencies and Fellowships</span></a>
                  <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
                    <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                      <a href="/education/residencies-and-fellowships/about-the-gme-office" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">About the GME Office</span></a></li>
                    <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                      <a href="/education/residencies-and-fellowships/programs" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Programs</span></a></li>
                    <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                     <a href="/education/residencies-and-fellowships/prospective-residents-and-fellows" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Prospective Residents and Fellows</span></a></li>
                    <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                      <a href="/education/residencies-and-fellowships/incoming-residents" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Incoming Residents</span></a></li>
                    <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                      <a href="/education/residencies-and-fellowships/current-residents" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Current Residents</span></a></li>
                    <li class="menu__item menu__item--link menu__item--level-3">
                      <a href="/education/residencies-and-fellowships/credentials-verification" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Credentials Verification</span></a></li>
                  </ul></li>
                <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
                  <a href="/education/graduate-students-and-postdoctoral-scholars" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Graduate Students and Postdoctoral Scholars</span></a>
                    <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
                      <li class="menu__item menu__item--link menu__item--level-3">
                      <a href="https://bioscience.ucla.edu/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Graduate Programs in Bioscience</span></a></li>
                    <li class="menu__item menu__item--link menu__item--level-3">
                      <a href="https://bioscience.ucla.edu/professional-development-resources/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Graduate Student Professional Development</span></a></li>
                    <li class="menu__item menu__item--link menu__item--level-3">
                      <a href="https://www.biomedpostdoc.ucla.edu/jobs/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Open Postdoctoral Positions</span></a></li>
                    <li class="menu__item menu__item--link menu__item--level-3">
                      <a href="https://www.biomedpostdoc.ucla.edu/professional-development/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Postdoctoral Professional Development</span></a></li>
                    <li class="menu__item menu__item--link menu__item--level-3">
                      <a href="https://www.biomedpostdoc.ucla.edu/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">UCLA Bioscience Postdoctoral Affairs</span></a></li>
                  </ul></li>
                <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
                  <a href="/education/center-for-continuing-professional-development" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Center for Continuing Professional Development</span></a>
              <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/education/center-for-continuing-professional-development/about-us" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">About Us</span></a></li>
        <li class="menu__item menu__item--link menu__item--level-3">
          <a href="/education/center-for-continuing-professional-development/planners" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Planners</span></a></li>
        <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
          <a href="/education/center-for-continuing-professional-development/educators" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Educators</span></a></li>
        <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
          <a href="/education/center-for-continuing-professional-development/learners" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Learners</span></a></li>
        <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
          <a href="/education/center-for-continuing-professional-development/sponsors" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Sponsors</span></a></li>
        <li class="menu__item menu__item--link menu__item--level-3">
          <a href="https://wkf.ms/3lc4Xce" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Request a CE Consultation</span></a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/education/alumni-and-friends" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Alumni and Friends</span></a>
        <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
        <li class="menu__item menu__item--link menu__item--level-3">
          <a href="/education/alumni-and-friends/2024-alumni-reunions" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">2024 Alumni Reunions</span></a></li>
        <li class="menu__item menu__item--link menu__item--level-3">
          <a href="/education/alumni-and-friends/document-requests-and-verifications" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Document Requests and Verifications</span></a></li>
          </ul></li></ul>
        </li>
      <li class="menu__item menu__item--link menu__item--level-1  menu__item--has-children" data-drupal-selector="menu__item--has-children">
        <a href="/research" class="menu__link menu__link--link menu__link--level-1  menu__link--has-children" data-drupal-selector="menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-1">Research</span></a>
          <button class="menu-toggle" data-drupal-selector="menu-toggle" aria-controls="menu-main-item-12" aria-expanded="false">
            <span class="visually-hidden">Research sub-navigation</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
            <path fill="currentColor" d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
          </button>
        <ul class="menu-main menu-main--level-2" id="menu-main-item-12" data-drupal-selector="menu-main--level-2">
          <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
            <a href="/research/training-and-career-development" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Training and Career Development</span></a>
            <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="/research/training-and-career-development/md-student-research" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">MD Students</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="/research/training-and-career-development/phd-students-and-postdoctoral-fellows" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">PhD Students</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="/research/training-and-career-development/residents-and-fellows" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Residents and Fellows</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="/research/training-and-career-development/phd-students-and-postdoctoral-fellows" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Postdoctoral Fellows</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="/research/training-and-career-development/faculty-development" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Faculty Development</span></a></li>
            </ul>
          </li>
          <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
            <a href="/research/research-infrastructure" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Research Infrastructure</span></a>
            <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
              <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                <a href="/research/research-infrastructure/administrative-support" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Administrative Support</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="https://ctsi.ucla.edu/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">CTSI Resources</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="https://stemcell.ucla.edu/facilities-and-technologies" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Broad Resources</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="/research/research-infrastructure/research-cores" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Research Cores</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="https://it.uclahealth.org/about/dgit/who-we-are/teams/research-informatics-team" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Research Computing</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                <a href="/research/research-infrastructure/research-safety" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Safety</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="https://www.uclahealthcareers.org/job-search-results/?category%5B0%5D=Research" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Careers</span></a></li>
            </ul>
          </li>
          <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
            <a href="/research/themed-areas" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Themed Areas</span></a>
            <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="https://cancer.ucla.edu/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Cancer</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                <a href="/research/themed-areas/cardiovascular-research" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Cardiovascular</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                <a href="/research/themed-areas/health-equity-and-translational-social-science" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Health Equity and Translational Social Science</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                <a href="/research/themed-areas/immunity-inflammation-infection-and-transplantation" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Immunity, Inflammation, Infection, and Transplantation</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                <a href="/research/themed-areas/ucla-neuroscience-research-theme" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Neuroscience</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="https://stemcell.ucla.edu/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Regenerative Medicine</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                <a href="/research/themed-areas/ucla-metabolism-research-theme" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">UCLA Metabolism Research Theme</span></a></li>
            </ul>
          </li>
          <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
            <a href="/research/clinical-research" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Clinical Research</span></a>
            <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="https://www.researchgo.ucla.edu/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">ResearchGo</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="https://ctsi.ucla.edu/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">UCLA CTSI</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="https://cancer.ucla.edu/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">UCLA JCCC</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="https://ohrpp.research.ucla.edu/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Office of Human Subjects Protection</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="https://www.uclahealth.org/clinical-trials" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Search for Clinical Trials</span></a></li>
            </ul>
          </li>
          <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
            <a href="/research/research-excellence" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Research Excellence</span></a>
            <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="/research/research-excellence/breakthroughs" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Breakthroughs</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                <a href="/research/research-excellence/funding-opportunities" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Funding Opportunities</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="/research/research-excellence/seminar-calendar" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Seminar Calendar</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="http://giveto.ucla.edu/school/david-geffen-school-of-medicine/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Support Science</span></a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="menu__item menu__item--link menu__item--level-1  menu__item--has-children" data-drupal-selector="menu__item--has-children">
        <a href="/community-and-equity" class="menu__link menu__link--link menu__link--level-1  menu__link--has-children" data-drupal-selector="menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-1">Community and Equity</span></a>
        <button class="menu-toggle" data-drupal-selector="menu-toggle" aria-controls="menu-main-item-123" aria-expanded="false">
          <span class="visually-hidden">Community and Equity sub-navigation</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
            <path fill="currentColor" d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
        </button>
        <ul class="menu-main menu-main--level-2" id="menu-main-item-123" data-drupal-selector="menu-main--level-2">
          <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
            <a href="/community-and-equity/justice-equity-diversity-and-inclusion" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Justice, Equity, Diversity and Inclusion</span></a>
            <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
              <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                <a href="/community-and-equity/justice-equity-diversity-and-inclusion/jedi-overview" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">JEDI Overview</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="/community-and-equity/justice-equity-diversity-and-inclusion/jedi-trailblazer-awards" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">JEDI Trailblazer Awards</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="/community-and-equity/justice-equity-diversity-and-inclusion/departmental-efforts" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Departmental Efforts</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="/community-and-equity/justice-equity-diversity-and-inclusion/events" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Events</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                <a href="/community-and-equity/justice-equity-diversity-and-inclusion/communities" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Communities</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3">
                <a href="https://public.tableau.ucla.edu/t/apb/views/ARRDashboard_FY23Update/Faculty-Gender?%3AshowAppBanner=false&amp;%3Adisplay_count=n&amp;%3AshowVizHome=n&amp;%3Aorigin=viz_share_link" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Data Accountability Dashboard</span></a></li>
              <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
                <a href="/community-and-equity/justice-equity-diversity-and-inclusion/professional-development-and-education" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Professional Development and Education</span></a></li>
        </ul>
      </li>
      <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
        <a href="/community-and-equity/anti-racism" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Anti-racism</span></a>
        <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
          <li class="menu__item menu__item--link menu__item--level-3">
            <a href="/community-and-equity/anti-racism/anti-racism-roadmap" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Anti-racism Roadmap</span></a></li>
          <li class="menu__item menu__item--link menu__item--level-3">
            <a href="/community-and-equity/anti-racism/art-in-med-ed-program" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Anti-racist Transformation in Medical Education Program</span></a></li>
          <li class="menu__item menu__item--link menu__item--level-3">
            <a href="/community-and-equity/anti-racism/grassroots-initiatives" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Grassroots Initiatives</span></a></li>
          <li class="menu__item menu__item--link menu__item--level-3">
            <a href="/community-and-equity/anti-racism/racial-justice-report-card" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Racial Justice Report Card</span></a></li>
        </ul>
      </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/about/culture-and-mission/cultural-north-star" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Cultural North Star</span></a>
          <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/community-and-equity/cultural-north-star/culture-journey" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Culture Journey</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/community-and-equity/cultural-north-star/downloads" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Downloads</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/community-and-equity/cultural-north-star/events" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Events</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/community-and-equity/cultural-north-star/recognition" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Recognition</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/community-and-equity/cultural-north-star/shared-commitment" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Shared Commitment</span></a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/community-and-equity/community-engagement" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Community Engagement</span></a>
          <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/community-and-equity/community-engagement/about" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">About</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/community-and-equity/community-engagement/careers" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Careers</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/community-and-equity/community-engagement/participate-and-volunteer" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Participate and Volunteer</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/community-and-equity/community-engagement/pipeline-programs" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Pipeline Programs</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/community-and-equity/community-engagement/project-highlights" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Project Highlights</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/community-and-equity/community-engagement/support-the-community" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Support the Community</span></a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/community-and-equity/support-and-reporting" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Support and Reporting</span></a>
          <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/community-and-equity/support-and-reporting/emergency-services-and-help-lines" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Emergency Services and Help Lines</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://equity.ucla.edu/report-an-incident/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Report an Incident</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/community-and-equity/support-and-reporting/reporting-resources" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Reporting Resources</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/community-and-equity/support-and-reporting/restorative-justice-in-academic-medicine" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Restorative Justice in Academic Medicine</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/community-and-equity/support-and-reporting/support-resources" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Support Resources</span></a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/education/alumni-and-friends" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Alumni and Friends</span></a>
          <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/education/alumni-and-friends/2024-alumni-reunions" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">2023 Alumni Reunions</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/education/alumni-and-friends/document-requests-and-verifications" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Documents and Request Verifications</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="menu__item menu__item--link menu__item--level-1  menu__item--has-children" data-drupal-selector="menu__item--has-children">
      <a href="/faculty-and-staff" class="menu__link menu__link--link menu__link--level-1  menu__link--has-children" data-drupal-selector="menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-1">Faculty and Staff</span></a>
      <button class="menu-toggle" data-drupal-selector="menu-toggle" aria-controls="menu-main-item-1234" aria-expanded="false">
        <span class="visually-hidden">Faculty and Staff sub-navigation</span>
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
          <path fill="currentColor" d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
      </button>
      <ul class="menu-main menu-main--level-2" id="menu-main-item-1234" data-drupal-selector="menu-main--level-2">
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/faculty-and-staff/academic-affairs" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Academic Affairs</span></a>
          <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/faculty-and-staff/academic-affairs/about-us" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">About Us</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/faculty-and-staff/academic-affairs/academic-forms-and-resources" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Academic Forms and Resources</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/faculty-and-staff/academic-affairs/academic-review" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Academic Review</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/faculty-and-staff/academic-affairs/academic-salary" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Academic Salary</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/faculty-and-staff/academic-affairs/department-contacts" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Department Contacts</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/faculty-and-staff/academic-affairs/events-and-lectures" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Events and Lectures</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/faculty-and-staff/academic-affairs/open-searches" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Open Searches</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/faculty-and-staff/academic-affairs/visa-and-licensing-office" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Visa and Licensing Office</span></a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/faculty-and-staff/faculty-resources" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Faculty Resources</span></a>
          <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/faculty-and-staff/faculty-resources/academy-for-excellence-in-medical-education" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Academy for Excellence in Medical Education</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/faculty-and-staff/faculty-resources/educational-measurement-unit" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Educational Measurement Unit</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/faculty-and-staff/staff-resources/staff-and-faculty-appreciation" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Faculty Appreciation</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/faculty-and-staff/faculty-resources/faculty-executive-committee" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Faculty Executive Committee</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/faculty-and-staff/faculty-resources/professional-development" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Professional Development</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/faculty-and-staff/faculty-resources/medical-education-fellowships-mef" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Medical Education Fellowships</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/faculty-and-staff/faculty-resources/teacher-learner-expectations-in-ume" title="Undergraduate Medical Education Teaching Policies and Guidelines" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Teacher-Learner Expectations - UME</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://profiles.ucla.edu/search/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">UCLA Profiles</span></a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/faculty-and-staff/staff-resources" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Staff Resources</span></a>
          <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://uclahealth.csod.com/login/render.aspx?id=defaultclp" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Cornerstone Training</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://www.uclahealth.org/human-resources" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">HR Resources</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://mednet.uclahealth.org/hr/ld/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Learning and Development</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/faculty-and-staff/staff-resources/staff-and-faculty-appreciation" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Staff Appreciation</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://staffassembly.ucla.edu/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Staff Assembly</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://amg.ucla.edu/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">UCLA Administrative Management Group</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://www.uclahealthcareers.org/job-search-results/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">UCLA Health Careers</span></a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/faculty-and-staff/wellness" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Wellness</span></a>
          <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://www.uclahealth.org/medical-services/behavioral-health" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Behavioral Health Associates</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/faculty-and-staff/wellness/behavioral-wellness-center" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Behavioral Wellness Center</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://www.uclawellness.org/welcome.cfm" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Mental Health Outreach</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://www.uclahealth.org/programs/marc" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Mindfulness Resources</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://recreation.ucla.edu/rec-programs" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Recreation Programs</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://chr.ucla.edu/employee-counseling/counseling-consultation" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Staff and Faculty Counseling</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="menu__item menu__item--link menu__item--level-1  menu__item--has-children" data-drupal-selector="menu__item--has-children">
      <a href="/about" class="menu__link menu__link--link menu__link--level-1  menu__link--has-children" data-drupal-selector="menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-1">About</span></a>
      <button class="menu-toggle" data-drupal-selector="menu-toggle" aria-controls="menu-main-item-12345" aria-expanded="false">
        <span class="visually-hidden">About sub-navigation</span>
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
          <path fill="currentColor" d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
      </button>
      <ul class="menu-main menu-main--level-2" id="menu-main-item-12345" data-drupal-selector="menu-main--level-2">
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/about/culture-and-mission" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Culture and Mission</span></a>
          <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/culture-and-mission/cultural-north-star" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Cultural North Star</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/culture-and-mission/mission-and-vision" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Mission and Vision</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://medschool.ucla.edu/reporting-and-support-resources" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Reporting and Support Resources</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/about/culture-and-mission/strategic-plan" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Strategic Plan</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/culture-and-mission/why-choose-ucla" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Why Choose UCLA?</span></a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/about/history-and-awards" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">History and Awards</span></a>
          <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/history-and-awards/accreditation-and-rankings" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Accreditation and Rankings</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/history-and-awards/awards-for-education" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Awards for Education</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/history-and-awards/faculty-achievements-celebration" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Faculty Achievements Celebration</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/history-and-awards/leonard-tow-humanism-in-medicine-award" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Leonard Tow Humanism in Medicine Award</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/history-and-awards/mellinkoff-award" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Mellinkoff Award</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/history-and-awards/the-switzer-prize" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">The Switzer Prize</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://dgsom70.ucla.edu/timeline/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Timeline</span></a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/about/leadership" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Leadership</span></a>
          <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/about/leadership/direct-from-the-dean" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Direct from the Dean</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/leadership/academic-leadership" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Academic Leadership</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/leadership/education-leadership" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Education Leadership</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/leadership/jedi-leadership" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">JEDI Leadership</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/leadership/research-leadership" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Research Leadership</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/leadership/shared-services-and-affiliates" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Shared Services and Affiliates</span></a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/about/plan-your-visit" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">Plan Your Visit</span></a>
          <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/plan-your-visit/covid-19-information" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">COVID-19 Information</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/plan-your-visit/contact-and-directions" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Contact and Directions</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/departments/administrative/emergencies" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Emergencies</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/plan-your-visit/virtual-tours" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">Virtual Tours</span></a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--link menu__item--level-2  menu__item--has-children">
          <a href="/about/news" class="menu__link menu__link--link menu__link--level-2  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-2">News</span></a>
          <ul class="menu-main  menu-main--level-3" data-drupal-selector="">
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="/about/news/dgsom-digest" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">DGSOM Digest</span></a></li>
            <li class="menu__item menu__item--link menu__item--level-3  menu__item--has-children">
              <a href="/about/news/social-media" class="menu__link menu__link--link menu__link--level-3  menu__link--has-children"><span class="menu__link-inner menu__link-inner--level-3">Social Media</span></a>
            </li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://www.uclahealth.org/news" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">UCLA Health News</span>
              </a>
            </li>
            <li class="menu__item menu__item--link menu__item--level-3">
              <a href="https://newsroom.ucla.edu/" class="menu__link menu__link--link menu__link--level-3"><span class="menu__link-inner menu__link-inner--level-3">UCLA Newsroom</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  </div>
</nav>
