/**
 * @file
 * Button that expands second level nav when clicked.
 */

:where([data-theme="dgsom"]) {
  --menu-svg-start: var(--size-1);
  --menu-svg-size: 20px;
}

:where([data-theme="labs-dynamic"]) {
  --menu-svg-start: var(--size-1);
  --menu-svg-size: 20px;
}

.menu-toggle {
  align-items: center;
  appearance: none;
  border: 0;
  display: flex;
  height: 2em;
  justify-content: center;
  width: 2em;

  &:focus {
    outline: auto 2px var(--midnight-joshua-tree);
    outline-offset: 2px;
  }

  /* aria-hidden attribute is removed by JS. Button is non-functional  until JS is enabled. */
  &[aria-hidden="true"] {
    pointer-events: none;
  }

  &[aria-expanded="true"] {
    svg {
      transform: rotate(180deg);
      transition: transform 0.3s ease-in-out;

      @media (--desktop) {
        transform: none;
      }
    }
  }

  svg {
    height: var(--menu-svg-size, 1em);
    padding-block-start: var(--menu-svg-start, 0);
    width: var(--menu-svg-size, 1em);
  }
}
