{{ attach_library('surface/translate') }}

<div class="translate">
  {% include '@elements/button-translate/button-translate.twig' %}
  <div class="translate__container" data-drupal-selector="translate-container">
    <div class="translate__caret"></div>
    <div class="translate__menu"></div>
  </div>

  <script>window.gtranslateSettings = {"default_language":"en","native_language_names":true,"languages":["en","ar","zh-CN","zh-TW","tl","it","ja","ko","fa","ru","es","vi"],"wrapper_selector":".translate__menu"}</script>
  <script src="https://cdn.gtranslate.net/widgets/v1.0.0/ln.js" defer></script>
</div>
