{{ attach_library('surface/person-directory') }}

<section class="person-directory container {{ modifier ? ' ' ~ modifier }}" {{ attributes ? attributes|without('class') }}>
  {% if heading %}
    {% include "@elements/title/title.twig" with {
      'title': title,
      } only
    %}
  {% endif %}

  <div class="person-directory__items">
    {# Adding a twig block so when we integrate this component with Drupal,
    we can use the block to simply drop all the person items into it
    as each item/node has already been integrated with the person-card.
    The card include below is simply for Patternlab purposes so we have
    a visual of how the person directory looks in Patternlab. #}
    {% block person %}
      {% for item in items %}
        {% include "@components/person-card/person-card.twig" with {
            'modifier': item.modifier,
            'url': item.url,
            'image': item.image,
            'name': item.name,
            'title': item.title,
          } only
        %}
      {% endfor %}
    {% endblock %}
  </div>
</section>
