/**
 * @file
 * Fullcalendar styles.
 */

.fc-scroller {
  height: auto !important;
}

.fc-button-primary {
  background-color: var(--midnight-joshua-tree);
  border-color: var(--midnight-joshua-tree);

  &:hover {
    background-color: var(--silver-lake-reservoir);
    border-color: var(--silver-lake-reservoir);
  }
}

.fc-button-active {
  background-color: var(--silver-lake-reservoir);
  border-color: var(--silver-lake-reservoir);

  &:hover {
    background-color: var(--silver-lake-reservoir);
    border-color: var(--silver-lake-reservoir);
  }
}
