/**
 * @file
 * Site secondary.
 */

:where([data-theme="dgsom"]) {
  --site-secondary-bg-color: var(--midnight-joshua-tree);
}

:where([data-theme="labs-dynamic"]) {
  --site-secondary-bg-color: var(--midnight-joshua-tree);
}

.site-secondary {
  background-color: var(--site-secondary-bg-color, var(--ucla-blue));
  color: var(--white);
  width: 100%;
}

.site-secondary__content {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-height: 54px;
  position: relative;

  @media (--laptop) {
    justify-content: space-between;
    margin-inline-end: -16px;
  }
}

.site-secondary__buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
