{% set classes = [
  'form-item__label',
  title_display == 'after' ? 'option',
  title_display == 'invisible' ? 'visually-hidden',
  required ? 'js-form-required',
  required ? 'form-required',
  is_disabled ? 'is-disabled',
]|join(' ')|trim %}

{% if title is not empty or required -%}
  <label class="{{ classes }}" {{ attributes ? attributes|without('class') }}>{{ title }}</label>
{%- endif %}
