/**
 * @file
 * Media Callout styles.
 */

.media-callout__title {
  color: var(--gray-900);
  font-family: var(--font-heading);
  font-size: var(--font-size-8);
  line-height: var(--leading-normal);
  margin-block-end: var(--size-6);

  /* Text color changes if Venice Canal background is present. */
  .bg-venice-canal.layout--onecol & {
    color: var(--white);
  }

  /* Text color changes if Santa Barbara Sand background is present. */
  .bg-santa-barbara-sand.layout--onecol & {
    color: var(--midnight-observatory);
  }
}

.media-callout__image {
  margin-block-end: var(--size-6);

  img {
    aspect-ratio: var(--ratio-photo);
    object-fit: cover;
    width: 100%;
  }
}

.media-callout__teaser {
  font-size: var(--font-size-3);

  /* Text color changes if Venice Canal background is present. */
  .bg-venice-canal.layout--onecol & {
    color: var(--white);
  }

  /* Text color changes if Santa Barbara Sand background is present. */
  .bg-santa-barbara-sand.layout--onecol & {
    color: var(--midnight-observatory);
  }

  @media (--tablet) {
    max-inline-size: 768px;
  }

  @media (--laptop) {
    max-inline-size: 1024px;
  }

  @media (--desktop) {
    max-inline-size: 1200px;
  }
}

/* Media callout video */
.media-callout--video {
  .media-callout__image {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .media-callout__button {
    display: inline-block;
    position: relative;
    width: 100%;

    &::before {
      background-image: url("./images/video-play.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 8%;
      content: "";
      display: block;
      height: 100%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 1;
    }

    img {
      width: 100%;
    }
  }

  .media-callout__teaser {
    @media (--tablet) {
      max-inline-size: 100%;
    }

    @media (--laptop) {
      max-inline-size: 100%;
    }

    @media (--desktop) {
      max-inline-size: 100%;
    }
  }
}
