<form class="views-exposed-form" aria-label="Filter the contents of the Media view" data-drupal-selector="views-exposed-form-media-library-widget" action="/" method="get" id="views-exposed-form-media-library-widget" accept-charset="UTF-8" data-once="form-updated exposed-form" data-drupal-form-fields="edit-name--OeWY45-SvbQ,edit-sort-by--QQgfsoPuopU">
  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-name form-item--name">
    <label for="edit-name--OeWY45-SvbQ" class="form-item__label">Name</label>
    <input data-drupal-selector="edit-name" type="text" id="edit-name--OeWY45-SvbQ" name="name" value="" size="30" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
  </div>
  <div class="js-form-item form-item js-form-type-select form-type--select js-form-item-sort-by form-item--sort-by">
    <label for="edit-sort-by--QQgfsoPuopU" class="form-item__label">Sort by</label>
    <select data-drupal-selector="edit-sort-by" id="edit-sort-by--QQgfsoPuopU" name="sort_by" class="form-select form-element form-element--type-select">
      <option value="created" selected="selected">Newest first</option>
      <option value="name">Name (A-Z)</option>
      <option value="name_1">Name (Z-A)</option>
    </select>
  </div>
  <div data-drupal-selector="edit-actions" class="js-form-wrapper form-wrapper" id="edit-actions--gk5X7EQFxG4">
    <input data-drupal-selector="edit-submit-media-library-7jee2mirlqw" type="submit" id="edit-submit-media-library--7Jee2MirLQw" value="Apply filters" class="button js-form-submit form-submit">
  </div>
</form>
