/**
 * @file
 * Views exposed form styling.
 */

.views-exposed-form {
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: 2px;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 10%);
  display: flex;
  flex-wrap: wrap;
  margin-block-end: 0;
  margin-block-start: var(--size-6);
  padding-block-end: var(--size-6);
  padding-block-start: var(--size-2);
  padding-inline: var(--size-6);

  > * {
    margin-inline-end: var(--size-2);
  }

  .form-wrapper {
    margin-block-start: 20px;
  }

  .form-submit {
    font-family: var(--font-system);
    font-size: var(--font-size-0);
    margin-block: 0;
  }
}
