/**
 * @file
 * Feed icon styles.
 */

.feed-icon {
  align-items: center;
  appearance: button;
  color: var(--gray-700);
  display: inline-flex;
  font-size: var(--font-size-2);
  gap: var(--size-2);

  &:hover {
    color: var(--blue-500);
  }

  &:focus {
    box-shadow: 0 0 var(--white), 0 0 0 2px var(--blue-500), 0 0 var(--white);
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  svg {
    height: 1em;
    width: 1em;
  }
}
