/**
 * @file
 * Form item upload.
 */

.form-item-upload {
  background-color: var(--white);
  border: 1px solid hsl(230, 10%, 88%);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  padding-block: var(--size-6);
  padding-inline: var(--size-6);

  label {
    font-family: var(--font-system);
    font-weight: var(--font-weight-700);
    margin-block: var(--size-1);
  }
}
