<div class="js-form-item form-item js-form-type-managed-file form-item-upload js-form-item-upload">
  <label for="edit-upload-upload--oZmYHcs3U_c" id="edit-upload--ffaLV74Rkao--label" class="form-item__label">Add file</label>
  <div id="edit-upload--ffaLV74Rkao" class="js-form-managed-file form-managed-file">
    <input data-drupal-selector="edit-upload-upload-ozmyhcs3u-c" type="file" id="edit-upload-upload--oZmYHcs3U_c" name="files[upload]" size="22" class="js-form-file form-file form-element form-element--type-file form-element--api-file" data-once="fileValidate auto-file-upload">
    <input class="js-hide button js-form-submit form-submit" data-drupal-selector="edit-upload-upload-button" formnovalidate="formnovalidate" type="submit" id="edit-upload-upload-button--u7fvv-Rh3L8" name="upload_upload_button" value="Upload" data-once="drupal-ajax">
    <input data-drupal-selector="edit-upload-fids" type="hidden" name="upload[fids]">
  </div>
  <div id="edit-upload--ffaLV74Rkao--description" class="form-item__description description">
    One file only.<br>100 MB limit.<br>Allowed types: png gif jpg jpeg.
  </div>
</div>
