/**
 * @file
 * Hero styles.
 */

:where([data-theme="dgsom"]) {
  --padding-block-start: 0;
}

:where([data-theme="labs"]) {
  --button-bg-hover: var(--silver-lake-reservoir);
  --button-bg: var(--ucla-blue);
  --button-color: var(--white);
  --hero-bg: var(--ucla-yellow);
  --hero-padding: var(--size-10);
  --title-bg: var(--white);
  --title-color: var(--midnight-joshua-tree);
}

:where([data-theme="labs-dynamic"]) {
  --button-bg-hover: var(--silver-lake-reservoir);
  --button-bg: var(--ucla-blue);
  --button-color: var(--white);
  --hero-bg: var(--ucla-yellow);
  --hero-padding: var(--size-10);
  --padding-block-start: 0;
  --title-bg: var(--white);
  --title-color: var(--midnight-joshua-tree);
}

.hero__container {
  position: relative;
}

.hero__text {
  @media (--laptop) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }
}

.hero__text-wrapper {
  @media (--laptop) {
    padding-block: var(--size-6);
    padding-inline: var(--size-8);
  }
}

.hero__title {
  margin-block-end: var(--size-5);
  max-width: var(--size-content-3);

  span {
    color: var(--title-color, var(--ucla-blue));
    font-family: var(--font-heading);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-600);
    text-transform: uppercase;

    @media (--tablet) {
      background-color: var(--title-bg, var(--ucla-blue));
      box-decoration-break: clone;
      color: var(--title-color, var(--white));
      display: inline;
      font-size: var(--font-size-8);
      padding-block-start: var(--padding-block-start, var(--size-105));
      padding-inline: var(--size-4);
    }

    @media (--laptop) {
      font-size: var(--font-size-9);
    }

    /* If background color is either Santa Barbara Sand or Venice Canal,
    The title's background color is changed to dark blue. */
    .bg-venice-canal.layout--onecol &,
    .bg-santa-barbara-sand.layout--onecol & {
      background-color: var(--midnight-observatory);
    }
  }
}

.hero__subtitle {
  font-family: var(--font-body);
  font-size: var(--font-size-2);
  line-height: var(--leading-relaxed);
  max-width: var(--size-content-3);

  @media (--tablet) {
    font-size: var(--font-size-3);
  }

  @media (--laptop) {
    font-size: var(--font-size-4);
  }
}

.hero__buttons {
  .button--secondary {
    background-color: var(--button-bg, var(--ucla-yellow));
    border-color: var(--button-bg, var(--ucla-yellow));
    color: var(--button-color, var(--black));
    margin-block-start: var(--size-5);

    &:visited {
      background-color: var(--button-bg, var(--ucla-yellow));
      color: var(--button-color, var(--black));
    }

    &:hover {
      background-color: var(--button-bg-hover, var(--chumash-soil));
      border-color: var(--button-bg-hover, var(--chumash-soil));
      color: var(--button-color, var(--black));
    }

    &:focus {
      box-shadow: 0 0 var(--white), 0 0 0 2px var(--button-bg, var(--ucla-yellow)), 0 0 var(--white);
    }
  }
}

/* Hero Banner */
.hero--banner {
  background-color: var(--hero-bg, transparent);

  .hero__container {
    @media (--laptop) {
      display: flex;
      flex-direction: row-reverse;
      gap: var(--size-4);
    }

    .is-full-width & {
      @media (--tablet) {
        margin-inline: auto;
        max-inline-size: calc(var(--size-tablet) - var(--size-4) * 2);
      }

      @media (--laptop) {
        max-inline-size: calc(var(--size-laptop) - var(--size-4) * 2);
      }

      @media (--desktop) {
        max-inline-size: calc(var(--size-container) - var(--size-8) * 2);
      }
    }
  }

  .hero__media {
    margin-block-end: var(--size-4);
    padding: var(--hero-padding);

    .is-full-width & {
      padding-inline: 0;
    }

    @media (--laptop) {
      flex-shrink: 0;
      margin-block-end: 0;
      width: 60%;
    }

    img {
      aspect-ratio: var(--ratio-landscape);
      object-fit: cover;
      width: 100%;
    }
  }

  .hero__text-wrapper {
    .is-full-width & {
      padding-inline: var(--size-4);
    }

    /* If the background is Venice Canal, the text color changes to
    dark white. */
    .bg-venice-canal.layout--onecol & {
      color: var(--white);
    }

    /* If the background is Santa Barbara Sand, the text color changes to
    dark blue. */
    .bg-santa-barbara-sand.layout--onecol & {
      color: var(--midnight-observatory);
    }
  }
}

/* Hero Video */
.hero--video {
  .hero__text {
    @media (--tablet) {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      width: 100%;
    }
  }

  .hero__text-wrapper {
    margin-inline: auto;
    max-width: var(--size-container);
    width: 100%;

    @media (--tablet) {
      padding-block-end: var(--size-25);
      padding-inline-start: var(--size-30);
    }

    .is-full-width & {
      padding-inline: var(--size-4);

      @media (--tablet) {
        max-inline-size: var(--size-tablet);
      }

      @media (--laptop) {
        max-inline-size: var(--size-laptop);
      }

      @media (--desktop) {
        max-inline-size: var(--size-container);
        padding-inline: var(--size-8);
      }
    }
  }

  .hero__title {
    max-width: var(--size-content-3);
  }

  .button-group {
    max-width: var(--size-content-3);
  }
}
