/**
 * @file
 * Event calendar component.
 */

.event-calendar {
  /* Updates text color for content outside of the actual calendar
  based on the background color applied. */
  .bg-santa-barbara-sand.layout--onecol & {
    color: var(--midnight-observatory);
  }

  .bg-venice-canal.layout--onecol & {
    color: var(--white);
  }
}

.event-calendar__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (--tablet) {
    align-items: center;
    flex-direction: row;
  }
}

.event-calendar__heading {
  color: var(--midnight-joshua-tree);
  font-family: var(--font-heading);
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-600);

  /* Calendar heading text color changes based on background
  color applied. */
  .bg-santa-barbara-sand.layout--onecol & {
    color: var(--midnight-observatory);
  }

  .bg-venice-canal.layout--onecol & {
    color: var(--white);
  }
}

.event-calendar__items {
  padding-block-start: var(--size-8);
  width: 100%;
}

.event-calendar__more-link-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  svg {
    display: inline-block;
    height: 1rem;
    margin-inline-start: var(--size-05);
    width: 1rem;

    path {
      color: var(--midnight-joshua-tree);

      /* More link svg image color changes based on background
      color being applied. */
      .bg-santa-barbara-sand.layout--onecol & {
        color: var(--midnight-observatory);
      }

      .bg-venice-canal.layout--onecol & {
        color: var(--white);
      }
    }
  }
}

.event-calendar__link {
  color: var(--midnight-joshua-tree);
  font-size: var(--font-size-3);

  .bg-santa-barbara-sand.layout--onecol & {
    color: var(--midnight-observatory);
  }

  .bg-venice-canal.layout--onecol & {
    color: var(--white);
  }
}
