/**
 * @file
 * Media Quote styles.
 */

.media-quote {
  background-color: var(--surface-blue);
  color: var(--white);
  width: 100%;
}

.media-quote__container {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  padding: var(--size-8);
  width: 100%;

  @media (--laptop) {
    display: flex;
    flex-direction: row-reverse;
    padding: var(--size-10);
    position: relative;
  }
}

.media-quote__image {
  @media (--laptop) {
    flex-shrink: 0;
    width: 50%;
  }

  img {
    aspect-ratio: var(--ratio-photo);
    object-fit: cover;
    width: 100%;
  }
}

.media-quote__text {
  width: 100%;

  @media (--laptop) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
}

.media-quote__wrapper {
  @media (--laptop) {
    max-width: 65ch;
    padding-block: var(--size-6);
    padding-inline: var(--size-8);
  }

  blockquote {
    border-left-color: var(--surface-yellow);
    border-left-width: var(--size-1);
    color: var(--white);
    font-size: var(--font-size-3);
    font-style: italic;
    font-weight: var(--font-weight-600);
    margin-block: var(--size-8);
    padding-block: var(--size-4);
    padding-inline-start: var(--size-6);
    quotes: "\201C""\201D""\2018""\2019";

    :where(p) {
      &:first-of-type {
        margin-block-end: var(--size-4);

        &::after {
          content: close-quote;
        }

        &::before {
          content: open-quote;
        }
      }
    }

    :where(em) {
      font-size: var(--font-size-2);
      font-style: normal;
      font-weight: var(--font-weight-400);
    }
  }
}
