<fieldset id="field_sf_image-media-library-wrapper" class="js-media-library-widget fieldset js-form-item form-item js-form-wrapper form-wrapper" data-drupal-selector="edit-field-sf-image" aria-describedby="field_sf_image-media-library-wrapper--description">
	<legend class="fieldset__legend fieldset__legend--visible">
		<span class="fieldset__label">Image</span>
	</legend>
	<div class="fieldset__wrapper">
		<span class="fieldset__prefix">No media items are selected.</span>
		<div class="js-media-library-selection js-form-wrapper form-wrapper media-library-selection" data-drupal-selector="edit-field-sf-image-selection" id="edit-field-sf-image-selection--cgXdH8tW4s0"></div>
		<input class="" data-media-library-widget-value="field_sf_image" data-drupal-selector="edit-field-sf-image-media-library-selection" type="hidden" name="field_sf_image[media_library_selection]" value="">
		<input class="js-hide button js-form-submit form-submit" data-media-library-widget-update="field_sf_image" data-drupal-selector="edit-field-sf-image-media-library-update-widget" formnovalidate="formnovalidate" type="submit" id="edit-field-sf-image-media-library-update-widget--VGBjvYVsppg" name="field_sf_image-media-library-update" value="Update widget" data-once="drupal-ajax">
		<span class="fieldset__suffix">
			<input class="js-media-library-open-button media-library-open-button button js-form-submit form-submit" data-drupal-selector="edit-field-sf-image-open-button" formnovalidate="formnovalidate" data-disable-refocus="true" type="submit" id="edit-field-sf-image-open-button--d6u2dZ4uh2w" name="field_sf_image-media-library-open-button" value="Add media" data-once="drupal-ajax">
		</span>
		<div id="field_sf_image-media-library-wrapper--description" data-drupal-field-elements="description" class="fieldset__description">One media item remaining.</div>
	</div>
</fieldset>
