<div class="layout-container">
  {% block header %}
    {{ header }}
  {% endblock %}

  <main id="main-content" tabindex="-1" role="main" class="main">
    {% block main %}
      {{ main }}
    {% endblock %}
  </main>

  {% block footer %}
    {{ footer }}
  {% endblock %}
</div>
