.slider-item-preview {
  column-gap: var(--size-8);
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.slider-item-preview__media {
  grid-column: 1 / 2;
  grid-row: span 3;
}

.slider-item-preview__content {
  grid-column: 2 / 3;

  .title {
    font-size: var(--font-size-4);
    margin-block-end: var(--size-3);
  }
}
